<html>
    <head>
        <link rel="stylesheet" href="{{=URL('static', 'css/main.css')}}"/>
    </head>
    <body>
        {{ include 'header.html' }}

        <div id="links">
            <a href="{{=URL('default', 'knowledge')}}">View the Knowledge Graph</a>
        </div>
        <div id="wrapper">
            <div id="project-description">
PURPOSE
<p>
This is a website that is an aid for students learning physics.  It could
potentially be used for other subjects as well.  I am publishing it under the
GNU General Public License version 3.  I am asking anyone interested to help me
with this site, as I believe it can be valuable but it could really use strong
coders to keep it going.
<p><p>
CONCEPT
<p>
This site makes use of a directed labelled knowledge graph, where each vertex and
each edge contains a concept.  No two vertices contain the same concept, ie. each
vertex defines a new concept.  However, multiple edges can share the same concept.
<p>
Often, the vertex concepts will correspond to nouns - eg. body, mass, velocity,
surface, sum, product, integral, interval, etc.  Many edge concepts will correspond to
prepositions - thus, an edge with its two vertices will correspond to phrases such as:
<p>
    <div class="indented">
      mass OF body<br>
      interval FROM quantity<br>
      interval TO quantity<br>
      force ON body<br>
      force OF body<br>
      sum OF quantity
    </div>
<p>
The concept in a vertex can correspond to a general concept, like those mentioned above,
or a specific instantation of a more general concept.  In the latter case, the vertex
will have an edge with the concept 'IS A' pointing to the general concept it instantiates.
For example:
<p>
    <div class="indented">
      force IS A vector<br>
      vector IS A quantity<br>
      'my force' IS A force
    </div>
<p>
Here 'my force' represents a specific force mentioned in a specific problem.
<p>
Each concept has an ID, description, synonyms, etc., so multiple concepts can have the same
name and we can still distinguish one from another.
<p>
In addition to the special 'IS A' concept which organizes concepts in terms of inheritance, there is
an 'IN' concept which organizes them into categories.  For example:
<p>
    <div class="indented">
      force IN Newtonian physics<br>
      Newtonian physics IN physics<br>
      vector IN mathematics<br>
      geometry IN mathematics
    </div>
<p>
When a student inputs a problem description, they choose one or more categories to place it
in.  A vertex is created for the problem, and it is categorized appropriately.
<p>
    <div class="indented">
        'problem 17' IN thermodynamics
    </div>
<p>
The concepts the student adds to the problem description are categorized
within the problem's vertex:
<p>
    <div class="indented">
      'my force' IN 'problem 17'<br>
      'my force' IS A force<br>
      'my body' IN 'problem 17'<br>
      'my body' IS A body
    </div>
<p>
Aside from the IN edges that group them into the same description, and the 'IS A' edges that
state what concepts they instantiate, the vertices in either a law or problem description have
edges between them to indicate the relations between them.  For example,
<p>
    <div class="indented">
      'my force' OF 'my body'<br>
      'my force' ON 'other body'<br>
      'my velocity' OF 'my body'<br>
      'my velocity' AT 'time 1'<br>
      'other velocity' OF 'other body'<br>
      'other velocity' AT 'time 2'
    </div>
<p>
Each general law, such as the law of conservation of energy, is also given its own vertex,
and each concept within its description is 'IN' it.
<p>
A general law also has one or more predicates - each predicate also receives a vertex, eg.
<p>
    <div class="indented">
        'predicate 1' OF 'Newton's 2nd Law'<br>
        'predicate 1' IS A predicate
    </div>
<p>
where 'predicate' and 'OF' are built-in meta-concepts.
<p>
The subgraph of the law that corresponds to the predicate is all marked as 'IN' the predicate.
But there is a key difference: the predicate does not consist of vertices, but rather <i>the edges between them</i>.
Remember, each vertex defines a unique concept; it is only the edges that share common concepts, so these are
what can be used to test whether the law applies to the problem.
<p>
Consequently, we have to allow edges to terminate on other edges, as well as vertices, so that we can have edges
marking each predicate edge as being 'IN' the predicate.  In practice we do this by storing both vertices and edges
under the general heading of 'parts'; a part can optionally have a 'start' and 'end', making it an edge, and these
fields can refer to any other part, whether edge or vertex.
<p>
Hence, just as classes and instances are represented by the same type of entity (a 'concept'), a general
law and a specific case are each represented by a simple directed graph.  If we use the 'IN' edges to properly
categorize each new concept or relation, the entire knowledge graph will remain a single connected entity.
<p>
After a student builds a problem description, we need to find any general laws that can be applied to
it.  This means, firstly, finding a predicate that 'matches' the problem.  Since any predicate is itself a graph,
and the problem is a graph, a 'match' is really an isomorphism -- between the predicate, and any subgraph of the problem.
<p>
A key point here is that a predicate will include edges that extend to concepts <i>outside</i> its law.  Typically,
most of these will be 'IS A' links: for example, any law of physics that applies to a body is predicated first and foremost
on the existence of the body, hence the law contains a vertex which 'IS A body', and that 'IS A' link is part of the predicate.
Such 'external links' need not be 'IS A', though presumably most are.
<p>
Any problem that matches that predicate will therefore have a matching link <i>to the same external vertex</i>.  In this way
it becomes easy to check for matching predicates; we simply start from each of the problem's 'external vertices',
and try to build two matching subgraphs, one link at a time, extending one of them into any predicate that links to the same
external vertex, and the other into the problem graph.  We do this recursively so as to catch all possible ways the predicate
can be applied to the given problem.
<p>
In graph theory, this is known as the "subgraph isomorphism problem".  While this is a hard
problem in general, most of the laws and problems students are dealing with will have relatively small graphs,
and hence the algorithm can run in reasonable time.
<p>
If we find such an isomorphism from a given predicate, we can apply the associated law, by taking
all the structure of the law outside that predicate, and appending it to the problem graph, making
sure we don't append parts that are already there.  (To avoid this, we simply extend the matching algorithm,
allowing it to match edges outside the predicate, but not requiring them -- we only require that, for a vertex
outside the predicate to be included in the match, <i>all</i> of its edges to predicate vertices must be
matched.  Then, we only append structure that has not already been matched.)
<p>
We can do this iteratively in order to solve a problem.  Of course, the computer couldn't feasibly do this alone,
because the number of ways all possible laws could be applied would lead to combinatorial explosion.
But that's fine, because we want the student to learn, not just watch.  Instead, the computer can suggest laws
that could be applied at each step, and the student chooses which to apply.  This way they can make mistakes,
and they can start to develop a feel for the most efficient ways to solve various problems.  They also start to
recognize the predicate patterns on their own because they are displayed explicitly on the screen.
<p>
REPRESENTATION
<p>
Although the graph is the core and should always remain accessible, we can build
additional interfaces that make building and solving a problem much more intuitive.  This is vital, as
a student should not have to learn complex graph syntax while they're trying to learn the subject
at hand.  Instead, each concept record can store rules in a simple programming language, used to
visualize it as a picture or symbol, using built-in primitive shapes and symbols.
This would provide a more intuitive drag-and-drop experience.
<p>
For example, the 'body' concept might contain a visualization program like this:
<p>
    <div class="indented">
    Circle circle<br>
    circle.center.x = coordinate.OF>position>OF>this.WRT>x_axis>OF>wcs<br>
    circle.center.y = coordinate.OF>position>OF>this.WRT>y_axis>OF>wcs<br>
    circle.radius = 50
    </div>
<p>
Here the Circle type, with its center and radius members, is a built-in visual primitive that can be parsed and displayed.
Meanwhile, the right-hand sides of the 'center' assignment statements are a shorthand to identify graph parts.  In this case
we are retrieving a vertex which 'IS A coordinate' and has the two edge-vertex sequences separated by periods, where the right
caret indicates the direction of the edges. ('WRT' is short for 'with respect to'.)  In particular, we are retrieving the <i>value</i>
stored in that vertex; every vertex can have a value stored in it.
<p>
'wcs (world coordinate system)' is a concept that would be instantiated by default in any user-created graph so
as to allow it to be visualized -- depending, perhaps, on what 'visualization package' the user chose for their problem.
It is effectively an interface between the graph and the visualization module.  It would include a minimal structure:
<p>
    <div class="indented">
        x_axis OF wcs<br>
        y_axis OF wcs
    </div>
<p>
The assignments to graph vertices are two-way.  That is, not only would the circle update itself according to the body's world
position, but if the user drags it to a new location, the 'coordinate' vertices would have their values updated accordingly.
<p>
There would be additional rules for resolving the values of vertices.  For example, the 'product' concept would say:
<p>
    <div class="indented">
    value = 1<br>
    value *= *.OF&lt;this
    </div>
<p>
In other words, any product is 1 if nothing is being multiplied.  For each operand, which the product will point to via an 'OF'
edge, the product's value is multiplied by the operand value.  The operand isn't necessarily an instance of anything in particular,
so we simply match it with the wildcard '*'.  Note that the graph shorthand retrieves the 'value' of the referenced
vertex by default, so we don't have to include that.
<p>
In this way, each 'representation command' in one graph part that references another part, creates a dependency between them.  Whenever
we need to visualize the problem, write it symbolically (eg. as equations), or calculate the values of its members, we iterate through
the graph, resolving any commands that have no waiting dependencies, and as we resolve them, their values propagate to the commands that
were waiting on them.  Thus we resolve the graph into more familiar representations.
<p>
All value/representation rules of a given concept would be inherited by concepts that instantiate it via an 'IS A' edge, and these
'child concepts' could add to it or override any part of it.  For example, the 'force' concept, which 'IS A vector', might say
<p>
    <div class="indented">
    arrow.color = '#fb6'
    </div>
<p>
thus modifying the 'arrow' field that was defined in 'vector' to specify that forces will be represented by arrows of a specific color.
            </div>
        </div>
    </body>
</html>