{{#
#
#   This is the main file of the website.  It specifies the structure of the page in the HTML section,
#   the layout and styling in the CSS section (block_page_css), and the user interaction in the
#   JavaScript section (block_page_js).
#
#   The site uses a few plugins:
#
#       Bootstrap: lets you create common pieces of a website with little code.  Here, for example, we use
#           its Modal functionality to create modals (pop-up dialogs with arbitrary content inside) that let
#           the user select, create, and edit records from the database.
#
#           https://getbootstrap.com/
#
#               Our installation of Bootstrap is a little sensitive because both the web2py framework and GoJS (below)
#               already come with Bootstrap for their own purposes, so we need to include Bootstrap files that are
#               compatible with both of these as well as our modals etc.  Right now you will see in the header below
#               that we are using both css/bootstrap.min.css, which I downloaded directly from getbootstrap.com,
#               and css/web2py-bootstrap3.js which came with web2py.  Whereas the only JS file is
#               GoJS-master/assets/js/bootstrap.min.js, the one from GoJS.  That seems to be stable, but could
#               conceivably have to be tweaked.
#
#       GoJS: we use this to display the interactive diagram that represents the problem as a graph of
#           connected concepts.
#           v 1.8.17, installed 4/20/2018
#           Browse the docs for the installed version at:
#               https://adamdrewherbst.pythonanywhere.com/welcome/static/GoJS-master/index.html
#           Or if you're planning to upgrade to the latest version:
#               https://gojs.net/latest/index.html
#
#       MathJax: we use this to render the symbolic representation of the relation, in mathematical notation.
#           The latest version is included via the script tag in the header below.  We render symbols in MathML
#              (http://math-it.org/Publikationen/MathML.html)
#           and MathJax automatically on-the-fly makes sure they look good in the browser.
#
#           https://www.mathjax.org
#
#       jQuery: a very common JavaScript plugin which is pre-installed with web2py.
#       jQuery makes common operations on elements in the web page much simpler in code, such as:
#           selecting, adding, and editing elements on the page
#           sending requests to the server - in this case, to load and save frameworks, concepts, and laws
#
#           https://api.jquery.com/
#
#       Wherever you see $(...) in the JavaScript, that is the jQuery selector function, which selects all elements
#       based on the given criteria and turns them into a jQuery object so you can call jQuery functions on them,
#       such as .remove(), .append(), etc. to change how they are displayed, add/remove elements, animate them,
#       trigger a function when a user clicks them, etc.  Also you will see $.ajax wherever we make a call to the server.
#
#}}


<html>

    {{#
    #   Here we include CSS files which determine how elements are visually styled (margins, padding, colors, fonts, etc)
    #}}
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>-->
        <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3.css')}}"/>
        <link rel="stylesheet" href="{{=URL('static','GoJS-master/assets/css/main.css')}}">
        <link rel="stylesheet" href="{{=URL('static','GoJS-master/assets/css/highlight.css')}}">
        <link rel="stylesheet" href="{{=URL('static','GoJS-master/assets/css/jquery-ui.min.css')}}">
        <link rel="stylesheet" href="{{=URL('static','css/main.css')}}">

        {{#  As well as the JavaScript code for MathJax to auto-prettify mathematical symbols }}

        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=MML_CHTML"></script>
    </head>

    <body>

        {{#
        # Here is the palette & diagram where the user can drag concepts from the palette onto the diagram and arrange them into
        # a connected relation representing the problem at hand, or a general law.  This functionality is provided by the GoJS
        # plugin and used mainly in diagram.js
        # }}

        {{ include 'header.html' }}

        <div id="links">
            <a href="{{=URL('default', 'description')}}">Description of the Project</a>
            <a href="https://github.com/adh38/knowledge-base">See the code for this site on GitHub</a>
        </div>

        <div id="global-controls">
            <button id="save-button" type="button btn btn-primary">Save All Changes</button>
        </div>
        <div id="concept-explorers">
            <div class="concept-explorer list-template">
                <div class="graph-wrapper concept-mode" mode="graph">
                    <div class="graph-controls explorer-controls">
                        <div class="controls-left">
                            <button class="concept-create-button btn btn-primary" type="button">New Concept</button>
                            <button class="concept-level-up-button btn btn-primary" type="button">Up A Level</button>
                            <button class="concept-evaluate-button btn btn-primary" type="button">Evaluate</button>
                        </div>
                        <div class="controls-middle">
                            <label for="links-external">External</label>
                            <button class="links-external toggle-links show-links btn btn-secondary" type="button">Show</button>
                            <label for="links-meta">Meta</label>
                            <button class="links-meta toggle-links show-links btn btn-secondary" type="button">Show</button>
                            <label for="show-map-select">Map</label>
                            <select class="show-map-select">
                                <option value=''>NONE</option>
                            </select>
                            <button class="apply-map-button btn btn-secondary" type="button">Apply</button>
                        </div>
                        <div class="controls-right">
                            <button class="explorer-mode-button btn btn-primary" mode="palette" type="button">Palette</button>
                            <button class="explorer-close-button btn btn-primary" type="button">X</button>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="concept-graph gojs-diagram"></div>
                </div>
                <div class="palette-wrapper concept-mode" mode="palette">
                    <div class="palette-controls explorer-controls">
                        <div class="controls-left">
                            <button class="concept-create-button btn btn-primary" type="button">New Concept</button>
                            <!--<button class="law-create-button btn btn-primary" type="button">New Law</button>-->
                            <button class="concept-level-up-button btn btn-primary" type="button">Up A Level</button>
                        </div>
                        <div class="controls-right">
                            <button class="explorer-mode-button btn btn-primary" mode="graph" type="button">Graph</button>
                            <button class="explorer-close-button btn btn-primary" type="button">X</button>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="concept-palette gojs-diagram"></div>
                </div>
                <div class="explorer-new-left explorer-new">
                    <button class="explorer-new-left-button explorer-new-button btn btn-primary" type="button">
                        +
                    </button>
                </div>
                <div class="explorer-new-right explorer-new">
                    <button class="explorer-new-right-button explorer-new-button btn btn-primary" type="button">
                        +
                    </button>
                </div>
                <div class="explorer-edit-concept card">
                    <input class="explorer-edit-concept-id" type="hidden" value=""/>
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active explorer-custom-concept-tab" data-toggle="tab" role="tab" aria-selected="true">Custom</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link explorer-select-concept-tab" data-toggle="tab" role="tab" aria-selected="false">Select</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body tab-content">
                        <div class="tab-pane active explorer-custom-concept-panel" role="tabpanel">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input class="explorer-edit-name form-control" type="text" placeholder="Enter concept name">
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea class="explorer-edit-description form-control" rows="4" placeholder="Enter concept description"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Commands</label>
                                        <textarea class="explorer-edit-commands form-control" rows="4" placeholder="Enter commands"></textarea>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="explorer-edit-instance-of"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane explorer-select-concept-panel" role="tabpanel">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <label>Search</label>
                                        <input class="explorer-select-concept-search form-control" type="text" placeholder="Enter search text">
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="explorer-select-concept-results">
                                        <div class="explorer-select-concept-result list-template">
                                            <span class="explorer-select-concept-name"></span>
                                            <span class="explorer-select-concept-description"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="explorer-show-links card">
                    <input class="explorer-show-links-id" type="hidden" value=""/>
                    <div class="card-body">
                        <div class="explorer-show-hide-all">
                            <div class="explorer-show-all">
                                <input type="radio" name="show-hide-all" value="show" class="explorer-show-all-button">Show All</input>
                            </div>
                            <div class="explorer-hide-all">
                                <input type="radio" name="show-hide-all" value="hide" class="explorer-hide-all-button">Hide All</input>
                            </div>
                        </div>
                        <div class="explorer-show-hide-individual">
                            <div class="explorer-show-individual list-template">
                                <input type="checkbox" class="explorer-show-individual-button"/>
                                <label class="explorer-show-individual-label"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="symbolization">
            <div id="sybolization-controls">
                <button id="reset-relation" type="button" class="btn btn-primary">Reset</button>
                <button id="resolve-data" type="button" class="btn btn-primary">Resolve</button>
                <button id="symbolize-relation" type="button" class="btn btn-primary">Symbolize</button>
                <button id="suggest-step" type="button" class="btn btn-primary">Suggest</button>
            </div>
            <div id="symbolization-wrapper">
            </div>
            <div id="suggestion-wrapper">
            </div>
        </div>

        {{# And here we display the entire relation as a picture when you click 'Visualize' }}

        <div id="visualization">
            <div id="visualization-controls">
                <button id="visualize-relation" type="button" class="btn btn-primary">Visualize</button>
            </div>
            <canvas id="visualization-canvas">
            </canvas>
        </div>

    </body>


    {{block page_js}}
    {{include 'web2py_ajax.html'}}

    <!--<script type="text/javascript" src="https://unpkg.com/popper.js"></script>-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/gojs/release/go.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!--<script type="text/javascript" src="{{=URL('static','lodash/core.js')}}"></script>-->
    <!--<script type="text/javascript" src="/welcome/static/GoJS-master/release/go.js"></script>
    <script type="text/javascript" src="/welcome/static/GoJS-master/assets/js/highlight.js"></script>
    <script type="text/javascript" src="/welcome/static/GoJS-master/assets/js/bootstrap.min.js"></script>-->

    <script type="text/javascript">

        var $$ = go.GraphObject.make;

        /*********   PAGE   *****************

        A wrapper class for all functionality on this page

        *****************************************/

        var Page = {
            tables: {},
            loadURL: "{{=URL('default', 'load', extension='json')}}",
            saveURL: "{{=URL('default', 'save', extension='json')}}"
        };

    </script>

    {{# The rest of the JavaScript, which provides most of the page functionality }}

    <script type="text/javascript" src="{{=URL('static', 'js/knowledge/databaseWrappers.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static', 'js/knowledge/diagram.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static', 'js/knowledge/evaluate.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static', 'js/knowledge/represent.js')}}"></script>

<!--    <script type="text/javascript" src="{{=URL('static', 'js/knowledge/interface.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static', 'js/knowledge/nodeData.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static', 'js/knowledge/represent.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static', 'js/knowledge/suggest.js')}}"></script>-->


    {{#
    # Here we perform initial JS functions once the page has been loaded, such as pulling the list of frameworks from
    # the server, and attaching handlers to various elements on the page so they perform their desired action upon user input
    #}}

    <script type="text/javascript">

        $(document).ready(function() {

            Part.buildRegex();

            // below the diagram is the HTML5 canvas that will be used to visualize the relation
            // (the canvas is created in knowledge.html, and visualization happens in represent.js)
            let canvas = document.getElementById('visualization-canvas');
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
            Page.canvas = canvas.getContext('2d');

            $('#save-button').click(function(e) {
                console.log('saving');
                Page.save();
            });

            Page.load(function() {
                let root = Part.get(1);
                Concept.in = root.getFirst(['<in', null]).getConcept();
                Concept.of = root.getFirst(['<in<META>of', null]).getConcept();
                Concept.isA = root.getFirst(['<is a', null]).getConcept();

                let explorer = new Explorer();
                explorer.open(108);
            });
        });
    </script>
    {{end page_js}}

</html>