<html>

    <head>
        <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3.css')}}"/>
        <link rel="stylesheet" href="/welcome/static/GoJS-master/assets/css/main.css">
        <!--<link rel="stylesheet" href="/welcome/static/GoJS-master/assets/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="/welcome/static/GoJS-master/assets/css/highlight.css">
        <link rel="stylesheet" href="/welcome/static/GoJS-master/assets/css/jquery-ui.min.css">
    </head>

    <body>

        <!-- form: create/modify concepts -->
        <h2>Create a new concept</h2>
        {{=LOAD('default', 'concept.load', ajax=True)}}

        <!-- graph editor -->
        <h2>Build a relation with concepts</h2>
        <div id="graph-buttons" style="margin-bottom: 20px">
            <div id="graph-controls">
                <div id="predicate-controls">
                    <select id="set-predicate">
                        <option value="-1">Select Predicate</option>
                        <option value="new">New Predicate</option>
                    </select>
                    <button id="remove-predicate" type="button" class="btn btn-primary">Remove Predicate</button>
                    <label id="predicate-help">Right-click a node to add/remove it from this predicate</label>
                </div>
                <div id="relation-controls">
                    <button id="save-relation" type="button" class="btn btn-primary">Save Relation</button>
                    <button id="evaluate-relation" type="button" class="btn btn-primary">Evaluate</button>
                    <label id="evaluate-msg"></label>
                </div>
            </div>
        </div>
        <div style="width: 100%; display: flex; justify-content: space-between">
            <div id="concept-palette" style="width: 160px; margin-right: 2px; background-color: whitesmoke; border: solid 1px black"></div>
            <div id="graph-canvas" style="flex-grow: 1; height: 620px; border: solid 1px black"></div>
            <div id="node-info" style="display: inline-block; vertical-align: top;">
                <h3 id="node-title"></h3>
                <p id="node-description"></p>
            </div>
      </div>
    </body>



    {{block page_js}}
    {{include 'web2py_ajax.html'}}
    <script src="/welcome/static/GoJS-master/release/go.js"></script>
    <script src="/welcome/static/GoJS-master/assets/js/highlight.js"></script>
    <script src="/welcome/static/GoJS-master/assets/js/bootstrap.min.js"></script>
    <!--<script src="{{=URL('static', 'js/knowledge.js')}}"></script>-->
    <script>
        var $$ = go.GraphObject.make;

        // This variation on ForceDirectedLayout does not move any selected Nodes
        // but does move all other nodes (vertexes).
        function ContinuousForceDirectedLayout() {
            go.ForceDirectedLayout.call(this);
            this._isObserving = false;
        }
        go.Diagram.inherit(ContinuousForceDirectedLayout, go.ForceDirectedLayout);

        /** @override */
        ContinuousForceDirectedLayout.prototype.isFixed = function(v) {
            return v.node.isSelected;
        }

        // optimization: reuse the ForceDirectedNetwork rather than re-create it each time
        /** @override */
        ContinuousForceDirectedLayout.prototype.doLayout = function(coll) {
            if (!this._isObserving) {
                this._isObserving = true;
                // cacheing the network means we need to recreate it if nodes or links have been added or removed or relinked,
                // so we need to track structural model changes to discard the saved network.
                var lay = this;
                this.diagram.addModelChangedListener(function (e) {
                    // modelChanges include a few cases that we don't actually care about, such as
                    // "nodeCategory" or "linkToPortId", but we'll go ahead and recreate the network anyway.
                    // Also clear the network when replacing the model.
                    if (e.modelChange !== "" ||
                            (e.change === go.ChangedEvent.Transaction && e.propertyName === "StartingFirstTransaction")) {
                        lay.network = null;
                    }
                });
            }
            var net = this.network;
            if (net === null) {  // the first time, just create the network as normal
                this.network = net = this.makeNetwork(coll);
            } else {  // but on reuse we need to update the LayoutVertex.bounds for selected nodes
                this.diagram.nodes.each(function (n) {
                    var v = net.findVertex(n);
                    if (v !== null) v.bounds = n.actualBounds;
                });
            }
            // now perform the normal layout
            go.ForceDirectedLayout.prototype.doLayout.call(this, coll);
            // doLayout normally discards the LayoutNetwork by setting Layout.network to null;
            // here we remember it for next time
            this.network = net;
        }
        // end ContinuousForceDirectedLayout


        /*********   RELATION   *****************

        A wrapper class for all functionality on this page

        *****************************************/

        function Relation() {

            this.currentLaw = -1;
            this.currentFramework = -1;

            this.concepts = {};
            this.laws = {};
            this.law = null;
            this.nodes = {};
            this.predicates = {};

            this.myNodes = [];
            this.nodesToCheck = [];
            this.newNodes = [];

            this.tempIdMap = null;
            this.nodeMap = {};
            this.map = {};
            this.nextMapId = 0;
            this.nextNodeId = 0;

            this.nodeTemplates = {
                'default': {
                    shape: "RoundedRectangle",
                    fill: "#88AD5F"
                },
                'predicate': {
                    shape: "Rectangle",
                    fill: "yellow"
                },
                'appended': {
                    shape: 'RoundedRectangle',
                    fill: '#FF66AA'
                }
            };

            this.concepts = {};
            this.wildcardConcept = 2;

            this.predicateSets = [];
            this.currentPredicate = -1;
        }

        Relation.prototype.init = function(callback) {

            let self = this;
            if(self.currentLaw < 0 && self.currentFramework < 0) return false;

            $.ajax({
               url: "{{=URL('default', 'initRelation', extension='json')}}",
               type: 'get',
               dataType: 'json',
               data: {
                   framework: self.currentFramework,
                   law: self.currentLaw
               },
               success: function(data) {
                   self.myNodes = data.myNodes;
                   self.concepts = data.concepts;
                   self.laws = data.laws;
                   if(self.laws.hasOwnProperty(self.currentLaw)) {
                       self.law = self.laws[self.currentLaw];
                   } else {
                       self.law = null;
                   }
                   self.nodes = data.nodes;
                   self.predicates = data.predicates;
                   self.nextNodeId = data.nextNodeId;

                   self.nodes[-1] = {id: -1};
                   $.each(self.nodes, function(id, node) {
                       node.values = self.convertValues(node.values, 'array');
                       node.children = {};
                   });
                   $.each(self.nodes, function(id, node) {
                       self.nodes[node.head || -1].children[id] = true;
                   });

                   $.each(self.laws, function(id, law) {
                       if(id == self.lawId) self.law = law;
                       law.predicateSets = [];
                       $.each(law.predicates, function(id, group) {
                           let pset = [];
                           for(let node in group) pset.push(node);
                           law.predicateSets.push(pset);
                       });
                       law.deepNodes = [];
                       law.nodes.forEach(function(node) {
                           if(!law.notDeepNode.hasOwnProperty(node)) {
                               law.deepNodes.push(node);
                           }
                       });
                   });

                   if(callback) callback.call(self);
               }
            });
        };

        Relation.prototype.initDiagram = function() {
            var self = this;
            self.diagram = $$(go.Diagram, "graph-canvas",  // must name or refer to the DIV HTML element
            {
              grid: $$(go.Panel, "Grid",
                      $$(go.Shape, "LineH", { stroke: "lightgray", strokeWidth: 0.5 }),
                      $$(go.Shape, "LineH", { stroke: "gray", strokeWidth: 0.5, interval: 10 }),
                      $$(go.Shape, "LineV", { stroke: "lightgray", strokeWidth: 0.5 }),
                      $$(go.Shape, "LineV", { stroke: "gray", strokeWidth: 0.5, interval: 10 })
                    ),
              allowDrop: true,  // must be true to accept drops from the Palette
/*              layout:
                $$(ContinuousForceDirectedLayout,  // automatically spread nodes apart while dragging
                  { defaultSpringLength: 30, defaultSpringStiffness: 0, defaultElectricalCharge: 100 }),
              // do an extra layout at the end of a move
              "SelectionMoved": function(e) { e.diagram.layout.invalidateLayout(); },
//*/          "draggingTool.dragsLink": true,
              "draggingTool.isGridSnapEnabled": true,
              "linkingTool.isUnconnectedLinkValid": true,
              "linkingTool.portGravity": 20,
              "relinkingTool.isUnconnectedLinkValid": true,
              "relinkingTool.portGravity": 20,
              "relinkingTool.fromHandleArchetype":
                $$(go.Shape, "Diamond", { segmentIndex: 0, cursor: "pointer", desiredSize: new go.Size(8, 8), fill: "tomato", stroke: "darkred" }),
              "relinkingTool.toHandleArchetype":
                $$(go.Shape, "Diamond", { segmentIndex: -1, cursor: "pointer", desiredSize: new go.Size(8, 8), fill: "darkred", stroke: "tomato" }),
              "linkReshapingTool.handleArchetype":
                $$(go.Shape, "Diamond", { desiredSize: new go.Size(7, 7), fill: "lightblue", stroke: "deepskyblue" }),
              //rotatingTool: $(TopRotatingTool),  // defined below
              //"rotatingTool.snapAngleMultiple": 15,
              //"rotatingTool.snapAngleEpsilon": 15,
              "undoManager.isEnabled": true,
              "ChangedSelection": onSelectionChanged
            });

            function onSelectionChanged(e) {
                var node = e.diagram.selection.first();
                if (!(node instanceof go.Node)) return;
                var data = node.data;
                var title = document.getElementById('node-title');
                var description = document.getElementById('node-description');

                title.textContent = "Node Info";
                description.innerHTML = self.getNodeString(data.id).replace(new RegExp("\n", 'g'), "<br>");
            }

            // dragging a node invalidates the Diagram.layout, causing a layout during the drag
            self.diagram.toolManager.draggingTool.doMouseMove = function() {
              go.DraggingTool.prototype.doMouseMove.call(this);
              if (this.isActive) { this.diagram.layout.invalidateLayout(); }
            }

            // when the document is modified, add a "*" to the title and enable the "Save" button
            self.diagram.addDiagramListener("Modified", function(e) {
              var button = document.getElementById("graph-save-button");
              if (button) button.disabled = !self.diagram.isModified;
              var idx = document.title.indexOf("*");
              if (self.diagram.isModified) {
                if (idx < 0) document.title += "*";
              } else {
                if (idx >= 0) document.title = document.title.substr(0, idx);
              }
            });

            function makePort(name, spot, output, input, fromMax, toMax) {
                // the port is basically just a small transparent square
                var options =
                {
                    fill: null,  // not seen, by default; set to a translucent gray by showSmallPorts, defined below
                    stroke: null,
                    desiredSize: new go.Size(7, 7),
                    alignment: spot,  // align the port on the main Shape
                    alignmentFocus: spot,  // just inside the Shape
                    portId: name,  // declare this object to be a "port"
                    fromSpot: spot, toSpot: spot,  // declare where links may connect at this port
                    fromLinkable: output, toLinkable: input,  // declare whether the user may draw links to/from here
                    cursor: "pointer"  // show a different cursor to indicate potential link point
                };
                if(fromMax !== undefined) options.fromMaxLinks = fromMax;
                if(toMax !== undefined) options.toMaxLinks = toMax;
                return $$(go.Shape, "Circle", options);
            }

            function showSmallPorts(node, show) {
              node.ports.each(function(port) {
                if (port.portId !== "") {  // don't change the default port, which is the big shape
                  port.fill = show ? "rgba(0,0,0,.3)" : null;
                }
              });
            }

            // To simplify this code we define a function for creating a context menu button:
            function makeButton(text, action, visiblePredicate) {
              return $$("ContextMenuButton",
                       $$(go.TextBlock, text),
                       { click: action },
                       // don't bother with binding GraphObject.visible if there's no predicate
                       visiblePredicate ? new go.Binding("visible", "", function(o, e) { return o.diagram ? visiblePredicate(o, e) : false; }).ofObject() : {});
            }

            // a context menu is an Adornment with a bunch of buttons in them
            var partContextMenu =
              $$(go.Adornment, "Vertical",
                  makeButton("Set Values",
                            function(e, obj) {
                                let part = obj.part.adornedPart;
                                if(!(part instanceof go.Node)) return;
                                let input = prompt("Enter a set of real numbers in interval notation, e.g. [0.5,2];5.7;[3,9);(9,17)");
                                let values = self.convertValues(input, 'array');
                                if(values == null) return;
                                part.data.values = input;
                                if(self.nodes.hasOwnProperty(part.data.id)) self.nodes[part.data.id].values = values;
                            },
                            function(o) {
                                return true;
                            }),
                  makeButton("Add to Predicate",
                            function(e, obj) {
                                let part = obj.part.adornedPart;
                                if(part instanceof go.Node) self.togglePredicate(parseInt(part.data.id), true);
                            },
                            function(o) {
                                let part = o.part.adornedPart;
                                if(part instanceof go.Node) return self.currentPredicate >= 0 && !self.inPredicate(parseInt(part.data.id));
                                return false;
                            }),
                  makeButton("Remove from Predicate",
                            function(e, obj) {
                                let part = obj.part.adornedPart;
                                if(part instanceof go.Node) self.togglePredicate(parseInt(part.data.id), false);
                            },
                            function(o) {
                                let part = o.part.adornedPart;
                                if(part instanceof go.Node) return self.inPredicate(parseInt(part.data.id));
                                return false;
                            }),
              );

            let infoString = function(obj) {
                let part = obj.part;
                if (part instanceof go.Adornment) part = part.adornedPart;
                let msg = "";
                if (part instanceof go.Link) {
                    msg = "";
                } else if (part instanceof go.Node) {
                    msg = self.getNodeString(part.data.id);
                }
                return msg;
            };

            self.diagram.nodeTemplate = $$(go.Node, "Spot",
                {
                    locationSpot: go.Spot.Center,
                    toolTip:
                      $$(go.Adornment, "Auto",
                        $$(go.Shape, { fill: "#EFEFCC" }),
                        $$(go.TextBlock, { margin: 4, width: 140 },
                          new go.Binding("text", "", infoString).ofObject())
                      )
                },
                new go.Binding("location", "loc", go.Point.parse).makeTwoWay(go.Point.stringify),
                new go.Binding("angle").makeTwoWay(),
                // the main object is a Panel that surrounds a TextBlock with a Shape
                $$(go.Panel, "Auto",
                  { name: "PANEL" },
                  new go.Binding("desiredSize", "size", go.Size.parse).makeTwoWay(go.Size.stringify),
                  $$(go.Shape, self.nodeTemplates['default'].shape,  // default figure
                    {
                      cursor: "pointer",
                      fill: self.nodeTemplates['default'].fill,  // default color
                      strokeWidth: 2
                    },
                    new go.Binding("figure"),
                    new go.Binding("fill")),
                  $$(go.TextBlock,
                    {
                      font: "bold 11pt Helvetica, Arial, sans-serif",
                      margin: 8,
                      maxSize: new go.Size(160, NaN),
                      wrap: go.TextBlock.WrapFit,
                      editable: true
                    },
                    new go.Binding("text").makeTwoWay())
                ),
                //port on top for head/reference, port on bottom for properties/referrers
                makePort("T", go.Spot.Top, true, true, 1, 1),
                makePort("B", go.Spot.Bottom, true, true),
                { // handle mouse enter/leave events to show/hide the ports
                  mouseEnter: function(e, node) { showSmallPorts(node, true); },
                  mouseLeave: function(e, node) { showSmallPorts(node, false); },
                  contextMenu: partContextMenu
                },
            );

            // initialize the Palette that is on the left side of the page
            self.palette = $$(go.Palette, "concept-palette",  // must name or refer to the DIV HTML element
            {
                maxSelectionCount: 1,
                nodeTemplateMap: self.diagram.nodeTemplateMap,  // share the templates used by the diagram
            });

            self.setPaletteModel();
            self.clearDiagram();
        };


        Relation.prototype.getNodeString = function(id) {

            let self = this, node = self.nodes[id], law = self.laws[self.currentLaw];

            let predicates = '';
            for(let group in self.predicateSets) {
                if(self.predicateSets[group].hasOwnProperty(id)) {
                    let groupStr = '';
                    for(let n in self.predicateSets[group]) groupStr += '' + n + ',';
                    predicates += groupStr.substring(0, groupStr.length-1) + '; ';
                }
            }
            if(predicates == '') predicates = 'none';
            else predicates = predicates.substring(0, predicates.length-2);

            let mappings = '';
            if(self.nodeMap.hasOwnProperty(id)) {
                for(let p in self.nodeMap[id]) {
                    for(let m in self.nodeMap[id][p]) {
                        let map = self.map[m], law = self.laws[map.lawId];
                        let mapStr = '';
                        for(let n in map.idMap) if(self.nodes[n].law == self.currentLaw) mapStr += '' + n + ',';
                        mapStr = mapStr.substring(0, mapStr.length-1);
                        mappings += '' + p + ' [' + self.concepts[self.nodes[p].concept].name + ']' + "\n"
                            + '.  in ' + law.name + ' [' + law.id + ']' + "\n"
                            + '.  ' + mapStr + ' (map ' + m + ')' + "\n";
                    }
                }
            }
            if(mappings == '') mappings = 'none';
            else mappings = "\n" + mappings;

            msg = 'ID: ' + node.id + "\n"
                + 'Law: ' + law.name + ' [' + law.id + "]\n"
                + 'Predicates: ' + predicates + "\n"
                + 'Values: ' + self.convertValues(node.values, 'string') + "\n"
                + 'Mappings: ' + mappings;
            return msg;
        };


        Relation.prototype.convertValues = function(v, newType) {
            let self = this, values = null;
            if(v == null) return null;
            if(newType == 'array' && typeof v == 'string') {
                values = [];
                v = v.replace(new RegExp(' ','g'), '');
                arr = v.split(';');
                for(let i = 0; i < arr.length; i++) {
                    let str = arr[i];
                    if(!isNaN(str)) {
                        values.push(parseFloat(str));
                        continue;
                    }
                    let inc1 = str[0], inc2 = str[str.length-1];
                    inc1 = inc1 == '[' ? true : inc1 == '(' ? false : inc1;
                    inc2 = inc2 == '[' ? true : inc2 == '(' ? false : inc2;
                    if(typeof inc1 != 'boolean' || typeof inc2 != 'boolean') return;
                    let limits = str.substring(1, str.length-1).split(',');
                    if(limits.length != 2 || isNaN(limits[0]) || isNaN(limits[1])) return;
                    let interval = [parseFloat(limit[0]), parseFloat(limits[1])];
                    if(!inc1 || inc1 != inc2) interval[2] = inc1;
                    if(inc1 != inc2) interval[3] = inc2;
                    values.push(interval);
                }
            } else if(newType == 'string' && typeof v == 'object') {
                values = '';
                v.forEach(function(el, i) {
                    let str = '';
                    if(typeof el == 'number') {
                        str = '' + el;
                    } else if(typeof el == 'object') {
                        if(!el.hasOwnProperty(2) || el[2]) str += '[';
                        else str += '(';
                        str += '' + el[0] + ',' + el[1];
                        if(el[2] && !el.hasOwnProperty(3) || el[3]) str += ']';
                        else str += ')';
                    }
                    values += str;
                    if(i < values.length-1) values += ';'
                });
            }
            return values;
        };


        Relation.prototype.setPaletteModel = function() {
            var self = this, concepts = self.concepts;
            var dataArray = [];
            for(let id in concepts) {
                let concept = concepts[id];
                dataArray.push({concept: concept.id, text: concept.name});
            }
            self.palette.model = $$(go.GraphLinksModel, {
                nodeDataArray: dataArray,
                linkDataArray: []
            });
        };


        Relation.prototype.clearDiagram = function() {
            var self = this;
            self.diagram.model = $$(go.GraphLinksModel,
            {
                nodeKeyProperty: 'id',
                linkFromPortIdProperty: 'fromPort',
                linkToPortIdProperty: 'toPort',
            });
        };


        Relation.prototype.draw = function() {
            let self = this;
            self.diagram.removeParts(self.diagram.nodes);
            //start by arranging the nodes visually as a tree descending from the root,
            //then allow the force layout to adjust them
            //=> first we need to identify the children of each node
            let nodeMeta = {'-1': {'children': []}};
            self.myNodes.forEach(function(node) {
                nodeMeta[node] = {'children': []};
            });
            self.myNodes.forEach(function(node) {
                if(node >= 0) nodeMeta[self.nodes[node].head || -1].children.push(node);
            });

            let horizontal = 100, vertical = 100;
            let getOffsets = function(node) {
                let nc = nodeMeta[node].children.length, width = horizontal;
                if(nc > 0) {
                    width = 0;
                    nodeMeta[node].children.forEach(function(child) {
                        nodeMeta[child].offset = width;
                        width += getOffsets(child);
                    });
                    nodeMeta[node].children.forEach(function(child) {
                        nodeMeta[child].offset -= width / 2 - horizontal / 2;
                    });
                }
                nodeMeta[node].width = width;
                return width;
            };
            getOffsets(-1);

            let drawNodes = function(node, x, y) {
                if(node >= 0) {
                    self.drawNode(node, {
                        loc: '' + x + ' ' + y,
                        text: self.concepts[self.nodes[node].concept].name + '[' + node + ']'
                    });
                }
                nodeMeta[node].children.forEach(function(child) {
                    drawNodes(child, x + nodeMeta[child].offset, y + 100);
                });
            };
            drawNodes(-1, self.diagram.viewportBounds.width/2, 50);

            let drawLinks = function(node) {
                if(node >= 0) self.drawLinks(node);
                nodeMeta[node].children.forEach(function(child) {
                    drawLinks(child);
                });
            };
            drawLinks(-1);
        };


        Relation.prototype.drawNode = function(nodeId, options) {

            let self = this, node = self.nodes[nodeId];

            if(!options) options = {};
            let template = {};
            if(options.template) {
                if(self.nodeTemplates.hasOwnProperty(options.template))
                    template = self.nodeTemplates[options.template];
            }
            let drawLinks = options.drawLinks ? true : false;
            delete options.template, options.drawLinks;

            let nodeData = Object.assign({}, node, options, template);
            nodeData.values = self.convertValues(nodeData.values, 'string');
            if(!nodeData.hasOwnProperty('text')) {
                nodeData.text = self.concepts[node.concept].name + ' [' + nodeId + ']';
            }
            if(!nodeData.hasOwnProperty('loc') && nodeData.head && nodeData.reference
              && self.nodes.hasOwnProperty(nodeData.head) && self.nodes.hasOwnProperty(nodeData.reference)) {
                let head = self.diagram.model.findNodeDataForKey(nodeData.head),
                    reference = self.diagram.model.findNodeDataForKey(nodeData.reference);
                let headLoc = head.loc.split(' '), refLoc = reference.loc.split(' ');
                let x = (parseFloat(headLoc[0]) + parseFloat(refLoc[0])) / 2,
                    y = Math.max(parseFloat(headLoc[1]), parseFloat(refLoc[1])) + 75;
                nodeData.loc = '' + x + ' ' + y;
            }
            self.diagram.model.addNodeData(nodeData);

            if(drawLinks) self.drawLinks(nodeId);
        };


        Relation.prototype.drawLinks = function(nodeId) {
            let self = this, node = self.nodes[nodeId];
            if(node.head) {
                self.diagram.model.addLinkData({from: node.head, to: node.id, fromPort: 'B', toPort: 'T'});
            }
            if(node.reference) {
                self.diagram.model.addLinkData({from: node.id, to: node.reference, fromPort: 'T', toPort: 'B'});
            }
        };


        Relation.prototype.setNodeTemplate = function(node, template) {
            let self = this;
            if(!self.nodeTemplates.hasOwnProperty(template)) return false;
            if(typeof node != 'object') {
                if(isNaN(node)) return false;
                node = self.diagram.model.findNodeDataForKey(node);
                if(!node) return false;
            }
            let nodeTemplate = self.nodeTemplates[template];
            for(let property in nodeTemplate) {
                self.diagram.model.setDataProperty(node, property, nodeTemplate[property]);
            }
        };


        Relation.prototype.setPredicate = function(predicate) {
            let self = this;
            //first un-highlight any selected predicate nodes
            self.diagram.nodes.each(function(node) {
                self.setNodeTemplate(node.data, 'default');
            });

            if(predicate < 0) {
                $('#remove-predicate, #predicate-help').hide();
                return;
            }

            //create a new empty predicate set if requested
            if(predicate == 'new') {
                predicate = self.predicateSets.length;
                self.predicateSets.push({});
                let $select = $('#set-predicate');
                $select.find('[value="new"]').before('<option value="' + predicate + '">Predicate ' + (predicate+1) + '</option>');
                $select.val(predicate);
            }

            $('#remove-predicate, #predicate-help').show();

            //now highlight nodes that are part of the chosen predicate
            for(let node in self.predicateSets[predicate]) {
                self.setNodeTemplate(node, 'predicate');
            }
            self.currentPredicate = predicate;
        };


        Relation.prototype.removePredicate = function(predicate) {
            let self = this;
            if(predicate === undefined) predicate = self.currentPredicate;
            if(isNaN(predicate)) return false;
            if(self.currentPredicate == predicate) {
                self.setPredicate(-1);
                $('#set-predicate').val(0);
            }
            self.predicateSets.splice(predicate, 1);
            let $option = $('#set-predicate > option[value="' + predicate + '"]').val("");
            $option.nextAll().each(function(i, el) {
                el.value = parseInt(el.value) - 1;
                el.text = 'Predicate ' + el.value;
            });
            $option.remove();
        };


        Relation.prototype.togglePredicate = function(node, include) {
            let self = this;
            if(!self.predicateSets.hasOwnProperty(self.currentPredicate)) return false;
            if(include) {
                self.predicateSets[self.currentPredicate][node] = true;
                self.setNodeTemplate(node, 'predicate');
            } else {
                delete self.predicateSets[self.currentPredicate][node];
                self.setNodeTemplate(node, 'default');
            }
        };


        Relation.prototype.inPredicate = function(node) {
            let self = this;
            return self.predicateSets.hasOwnProperty(self.currentPredicate)
                && self.predicateSets[self.currentPredicate].hasOwnProperty(node);
        };


        Relation.prototype.useFramework = function(id) {
            let self = this;
            self.currentFramework = id;
            self.reloadDiagram();
        };

        Relation.prototype.useLaw = function(id) {
            let self = this;
            self.currentLaw = id;
            self.reloadDiagram();
        };

        Relation.prototype.reloadDiagram = function() {
            let self = this;
            self.init(self.drawAll);
        };

        Relation.prototype.drawAll = function() {
            let self = this;
            self.setPaletteModel();
            if(self.law) {
                self.draw();
                self.predicateSets = [];
                $('#set-predicate').children().slice(1, -1).remove();
                if(self.law.predicates) {
                    for(let group in self.law.predicates) {
                        $('#set-predicate > option:last-child').before('<option value="' + (group-1) + '">Predicate ' + group + '</option>');
                        let obj = {};
                        for(let node in self.law.predicates[group]) obj[node] = true;
                        self.predicateSets.push(obj);
                    }
                }
            }
        };

        Relation.prototype.save = function() {
            let self = this, id = self.currentLaw;

            let nodes = [], predicates = [];
            self.diagram.nodes.each(function(node) {
                let data = {
                    'id': node.data['id'], 'law': id, 'concept': node.data['concept'],
                    'head': null, 'reference': null, 'values': node.data['values'] || null,
                };
                let head = node.findNodesInto('T'),
                    reference = node.findNodesOutOf('T');
                if(head.count > 0) data['head'] = head.first().data['id'];
                if(reference.count > 0) data['reference'] = reference.first().data['id'];
                nodes.push(data);
            });

            self.predicateSets.forEach(function(pset, i) {
                for(let node in pset) {
                    predicates.push({'node': parseInt(node), 'predicate_group': i+1});
                }
            });

            $.ajax({
                url: "{{=URL('default', 'saveRelation', extension='json')}}",
                type: 'post',
                dataType: 'json',
                data: JSON.stringify({id: id, nodes: nodes, predicates: predicates}),
                success: function(data) {
                    $('#law-save-msg').val('Relation saved').show(3000);
                },
                error: function() {
                }
            });
        };


        /*

        RELATION EVALUATION:

        Scheme: Start with the relation R.  For each node N, take its concept C, and find all laws L
        that have a predicate on C.  Trace the predicate of L up to its roots, all the while matching its
        nodes with those of the relation R.  If they all match up, retain the map between nodes of L and R.

        If two maps M1 and M2 for the same law, different predicate nodes P1 and P2, are found to intersect - that is,
        each node of R that is in both M1 and M2 maps to the same node of L, and each node of L that is in both M1 and M2
        maps to the same node of R - then we check for a logic (AND/OR) relation between P1 and P2 in L.  If there is one,
        we merge M1 and M2 into a new map M3 (still retaining M1 and M2).

        When another map M4 is later merged with M3, we again combine the predicate nodes of M4 and M3 using logic
        from L.  As we keep merging maps, eventually we may have a map whose predicate nodes completely satisfy L.
        At that point, we can append to our relation R the additional knowledge (relations) that L provides us.

        *Symmetry*:

        Certain concepts, eg. sum, product, equality, are symmetric.  Within the tree rooted at a predicate node, if there
        is a symmetric node, we can flip its subtree relative to our relation, and if both orientations match, they give
        us two alternative submaps within the full map for that predicate node.

        So a given predicate map has 2^n alternative configurations where n is the number of symmetric nodes that matched
        in both orientations.  We make a separate map for each configuration.  Then we check all intersections with any of
        those 2^n maps.

        */

        Relation.prototype.evaluate = function(doInit = false) {

            $('#evaluate-msg').text('Evaluating...');

            let self = this;

            if(doInit) {
                self.init(self.evaluate);
                return;
            }

            self.nodesToCheck = self.myNodes.slice();

            while(self.nodesToCheck.length > 0) {
               //find any deep predicate nodes in included frameworks
               //that have the same concept as this node
               var nodeId = self.nodesToCheck.pop(), concept = self.nodes[nodeId]['concept'], concepts = [concept];
               for(let dep in self.concepts[concept].dependencies) concepts.push(dep);
               concepts.forEach(function(concept) {
                   if(!self.predicates.hasOwnProperty(concept)) return;;
                   for(let predicateId in self.predicates[concept]) {
                       if(self.nodes[nodeId].law == self.nodes[predicateId].law) continue;
                       self.checkPredicate(nodeId, predicateId);
                   }
               });
            }

            /*$.ajax({
               url: "{{=URL('default', 'saveNodes', extension='json')}}",
               type: 'post',
               dataType: 'json',
               data: JSON.stringify(self.newNodes),
               success: function(data) {
               },
            });//*/

            $('#evaluate-msg').text('Done evaluating');
        };

        //see if the relation matches the predicate by recursively tracing the law up to its wildcards
        Relation.prototype.checkPredicate = function(nodeId, predicateId, map) {

            let self = this, nodeId = parseInt(nodeId), predicateId = parseInt(predicateId),
                node = this.nodes[nodeId], predicate = this.nodes[predicateId];

            //if this is the first recursion step, initialize aggregators
            let firstLevel = !map;
            if(firstLevel) {
                map = {lawId: predicate['law'], idMap: {}, values: {}, intersects: {}, children: []};
            }

            //make sure this node's concept matches the predicate's concept
            let match = node['concept'] == predicate['concept']
                || predicate['concept'] == self.wildcardConcept
                || self.concepts[node['concept']].dependencies[predicate['concept']];
            //and find the intersection of any values on the two nodes
            let values = null;
            if(match) values = self.intersectValues(node.values, predicate.values);
            if(!match || (values && values.length == 0)) return false;

            map.idMap[nodeId] = predicateId;
            map.idMap[predicateId] = nodeId;
            map.values[nodeId] = values;

            //note any prior mappings between this node and predicate node - used later to test for intersections
            if(self.nodeMap.hasOwnProperty(nodeId) && self.nodeMap[nodeId].hasOwnProperty(predicateId)) {
                for(let mapId in self.nodeMap[nodeId][predicateId]) {
                    map.intersects[mapId] = true;
                }
            }

            //for symmetric nodes, make 2 submaps, one for each orientation
            let symmetric = self.concepts[node.concept].symmetric, fwdMap = map, revMap = map;
            if(symmetric) {
                fwdMap = {lawId: predicate.law, idMap: {}, values: {}, intersects: {}, parent: map};
                revMap = {lawId: predicate.law, idMap: {}, values: {}, intersects: {}, parent: map};
            }

            //check recursively on this node's head and reference
            let fwd = true, rev = true, nh = node.head, nr = node.reference, ph = predicate.head, pr = predicate.reference;
            if(ph) fwd = fwd && nh && self.checkPredicate(nh, ph, fwdMap);
            if(pr) fwd = fwd && nr && self.checkPredicate(nr, pr, fwdMap);
            //for symmetric nodes, check the other orientation
            if(symmetric) {
                if(ph) rev = rev && nr && self.checkPredicate(nr, ph, revMap);
                if(pr) rev = rev && nh && self.checkPredicate(nh, pr, revMap);
                //if both succeed, keep the two alternatives as a pair of submaps
                if(fwd && rev) map.children.push([fwdMap, revMap]);
                //if only one, absorb the corresponding submap into this map
                else if(fwd || rev) {
                    let keepMap = fwd ? fwdMap : revMap;
                    if(!self.absorbMap(map, keepMap)) return false;
                }
            } else rev = false;
            //and if neither direction worked, the predicate fails
            if(!fwd && !rev) return false;

            if(firstLevel) {
                //at this point we have a complete match to the predicate
                //separate all the forks on symmetric nodes into full maps
                let maps = self.splitMaps(map), newMaps = 0, law = self.laws[predicate.law];
                let satisfied = !law.predicateSets.every(function(pset) {
                    return !(pset.length == 1 && pset[0] == predicateId);
                });
                maps.forEach(function(map) {
                    let count = 0, id = self.nextMapId;
                    for(let n in map.idMap) {
                        let p = map.idMap[n];
                        if(!self.nodeMap.hasOwnProperty(n)) self.nodeMap[n] = {};
                        if(!self.nodeMap[n].hasOwnProperty(p)) self.nodeMap[n][p] = {};
                        if(!self.nodeMap.hasOwnProperty(p)) self.nodeMap[p] = {};
                        if(!self.nodeMap[p].hasOwnProperty(n)) self.nodeMap[p][n] = {};
                        self.nodeMap[n][p][id] = 1;
                        self.nodeMap[p][n][id] = 1;
                        count++;
                    }
                    if(count > 0) {
                        map.id = id;
                        self.map[self.nextMapId++] = map;
                        newMaps++;
                    }
                    if(satisfied) {
                        self.appendLaw(map);
                    } else {
                        for(let other in map.intersects) {
                            self.checkIntersection(map.id, other);
                        }
                    }
                });
            }
            return true;
        };


        Relation.prototype.splitMaps = function(map) {
            let self = this, maps = [];

            map.children.forEach(function(pair) {
                let submaps = pair[0].splitMaps().concat(pair[1].splitMaps());
                submaps.forEach(function(submap) {
                    let merge = self.absorbMap(Object.assign({}, map), submap);
                    if(merge) maps.push(merge);
                });
            });

            if(maps.length == 0) maps.push(map);

            return maps;
        }


        Relation.prototype.absorbMap = function(map, submap) {
            let self = this;
            for(let n in submap.idMap) {
                if(map.idMap.hasOwnProperty(n) && map.idMap[n] != submap.idMap[n]) return false;
            }
            map.idMap[n] = submap.idMap[n];
            for(let n in submap.values) map.values[n] = submap.values[n];
            for(let m in submap.intersects) map.intersects[m] = submap.intersects[m];
            map.children = map.children.concat(submap.children);
        };


        Relation.prototype.intersectValues = function(v1, v2) {
            let self = this;

            let v1all = v1 == null || v1.length == 0,
                v2all = v2 == null || v2.length == 0;
            if(v1all && v2all) return null;
            if(v1all) return v2;
            if(v2all) return v1;

            let sorted = [];
            for(let i = 0; i < 2; i++) {
                let arr = i == 0 ? v1 : v2;
                if(typeof arr == 'object') arr.forEach(function(el) {
                    if(typeof el == 'number') {
                        sorted.push([el, i, true, false]);
                    } else if(typeof el == 'object') {
                        sorted.push([el[0], i, el.length > 2 ? el[2] : true, true]);
                        sorted.push([el[1], i, el.length > 3 ? el[3] : el.length > 2 ? el[2] : true, false]);
                    }
                });
            }
            sorted.sort(function(a, b) {
                if(a[0] == b[0]) {
                    let apos = (a[2] ? 6 : 9) & (a[3] ? 12 : 3),
                        bpos = (b[2] ? 6 : 9) & (b[3] ? 12 : 3);
                    return apos < bpos ? -1 : 1;
                }
                return a[0] < b[0] ? -1 : 1;
            });

            let values = [];
            let inside = [false, false], begin = null;
            sorted.forEach(function(arr, ind) {
                let other = (arr[1]+1)%2;
                if(!arr[3]) {
                    if(inside[other]) {
                        if(!inside[arr[1]] && arr[2]) values.push(arr[0]);
                        if(inside[arr[1]]) {
                            let interval = [begin[0], arr[0]];
                            if(!begin[2] || begin[2] != arr[2]) interval[2] = begin[2];
                            if(begin[2] != arr[2]) interval[3] = arr[2];
                            values.push(interval);
                        }
                    } else {
                        if(arr[2] && ind < sorted.length-1 && sorted[ind+1][1] == other
                        && sorted[ind+1][0] == arr[0] && sorted[ind+1][2])
                            values.push(arr[0]);
                    }
                } else {
                    begin = arr;
                }
                inside[arr[1]] = arr[3];
            });

            return values;
        };


        Relation.prototype.checkIntersection = function(mapId1, mapId2) {

            var self = this, map1 = self.map[mapId1], map2 = self.map[mapId2];

            //make sure the two maps are for the same law, but their predicate sets are disjoint
            if(map1.lawId != map2.lawId) return false;
            var disjoint = map1.predicates.every(function(predicate) {
                    return map2.predicates.indexOf(predicate) < 0;
                });
            if(!disjoint) return false;

            //and that the joint predicate set is part of a set that satisfies the law
            var law = self.laws[map1.lawId], predicateSet = map1.predicates.concat(map2.predicates), match = null;
            var cannotCombine = law.predicateSets.every(function(pset) {
                var isSubset = predicateSet.every(function(predicate) {
                    return pset.indexOf(predicate) >= 0;
                }), isMatch = false;
                if(isSubset) {
                    console.info('' + mapId1 + ' x ' + mapId2 + ' subset of ' + pset.toString());
                    //meanwhile, check if the predicates in the two maps in fact satisfy the law
                    isMatch = pset.every(function(predicate) {
                        return predicateSet.indexOf(predicate) >= 0;
                    });
                    if(isMatch) {
                        match = pset;
                        console.info('' + mapId1 + ' x ' + mapId2 + ' matches ' + pset.toString());
                    }
                }
                return !isSubset && !isMatch;
            });
            if(match == null && cannotCombine) {
                console.log('failed intersection: ' + mapId1 + ', ' + mapId2);
                return false;
            }

            //whichever relation nodes are shared by the two maps must be mapped to the same predicate node
            for(let node in map1.idMap) {
                if(!map2.idMap.hasOwnProperty(node)) continue;
                if(map2.idMap[node] != map1.idMap[node]) return false;
            }

            //at this point they do intersect, so create a new map by merging these two
            var map = {
                lawId: map1.lawId,
                predicates: predicateSet,
                idMap: Object.assign({}, map1.idMap, map2.idMap)
            };
            self.map[self.nextMapId++] = map;

            //if the law has been satisfied, use the map to append the knowledge of the law to our relation
            if(match) {
                self.appendLaw(map);
            }

            return true;
        };

        //given a correspondence between nodes in the relation and predicate, fill in the rest of the law
        Relation.prototype.appendLaw = function(map) {

            var self = this;

            //update our relation with all value intersections calculated during the mapping
            for(let node in map.values) {
                self.nodes[node].values = map.values[node];
            }

            //start at each deep node of the law
            var law = self.laws[map.lawId];
            law.deepNodes.forEach(function(nodeId) {
               self.appendLawHelper(map, nodeId);
            });
        };

        Relation.prototype.appendLawHelper = function(map, nodeId) {

            if(map.idMap.hasOwnProperty(nodeId)) return map.idMap[nodeId];

            let self = this, node = self.nodes[nodeId], head = node['head'], reference = node['reference'],
                newHead = self.appendLawHelper(map, head), newReference = self.appendLawHelper(map, reference);

            if(newHead == null || newReference == null) return null;

            for(let child in self.nodes[newHead].children) {
                if(self.nodes[child].concept == node.concept && self.nodes[child].reference == newReference) {
                    return child;
                }
            }
            if(self.concepts[node.concept].symmetric) {
                for(let child in self.nodes[newReference].children) {
                    if(self.nodes[child].concept == node.concept && self.nodes[child].reference == newHead) {
                        return child;
                    }
                }
            }

            let newId = self.addNode({
                'law': self.currentLaw,
                'concept': node['concept'],
                'head': parseInt(newHead),
                'reference': parseInt(newReference),
                'values': self.nodes[nodeId].values
            });
            self.newNodes.push(newId);
            self.nodesToCheck.push(newId);
            map.idMap[nodeId] = newId;
            map.idMap[newId] = nodeId;

            self.drawNode(newId, {
                template: 'appended',
                drawLinks: true
            });
            return newId;
        };


        Relation.prototype.addNode = function(data) {
            let self = this, newId = self.nextNodeId;
            self.nextNodeId++;
            let node = self.nodes[newId] = Object.assign({id: newId, children: {}}, data);
            if(node.head && self.nodes.hasOwnProperty(node.head)) {
                self.nodes[node.head].children[node.id] = true;
            }
            return newId;
        };



        var relation;
        $(document).ready(function() {
            relation = new Relation();
            relation.initDiagram();

            $('#set-predicate').change(function(e) {
                relation.setPredicate($(this).val());
            });
            $('#remove-predicate').click(function(e) {
                relation.removePredicate();
            });

            $('#save-relation').click(function(e) {
                relation.save();
            });
            $('#evaluate-relation').click(function(e) {
                relation.evaluate(true);
            });
        });

    </script>
    {{end page_js}}



    {{block page_css}}
    <style>
        html {
            height: 100%;
        }
        body {
            min-height: 100%;
            margin: 20px;
        }

        .concept {
            border: 3px solid red;
            border-radius: 4px;
            padding: 6px;
            font-size: 14px;
            color: black;
        }

        #editor-wrapper {
            display: table;
            width: 100%;
            height: 100%;
        }
        #editor-container {
            display: table-row;
            width: 100%;
            height: 100%;
        }
        #concept-container, #graph-container {
            display: table-cell;
        }
        #concept-container {
            width: 10%;
            height: 100%;
            border: 3px solid blue;
        }
        #graph-container {
            width: auto;
            height: 100%;
            border: 3px solid green;
        }

        #graph-controls {
        }
        #predicate-controls, #relation-controls {
            margin-bottom: 20px;
        }
        #graph-controls button, #graph-controls select {
            padding: 5px 10px;
            border: 2px solid black;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
            background-color: #aaaaff;
            color: black;
        }
        #predicate-controls {
            float: left;
        }
        #predicate-controls button {
        }
        #remove-predicate, #predicate-help {
            display: none;
        }
        #relation-controls {
            float: right;
        }
        #relation-controls button {
        }

        #node-info {
            background-color: #8ff;
            color: #604;
            font-weight: bold;
            padding: 0 20px;
        }

    </style>
    {{end page_css}}

</html>