<html>

    <head>
        <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3.css')}}"/>
        <link rel="stylesheet" href="/welcome/static/GoJS-master/assets/css/main.css">
        <!--<link rel="stylesheet" href="/welcome/static/GoJS-master/assets/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="/welcome/static/GoJS-master/assets/css/highlight.css">
        <link rel="stylesheet" href="/welcome/static/GoJS-master/assets/css/jquery-ui.min.css">
    </head>

    <body>

        <!-- form: create/modify concepts -->
        <!--<h2>Create a new concept</h2>
        {{=LOAD('default', 'concept.load', ajax=True)}}-->

        <!-- controls -->
        <div id="controls">
            <div class="entry-wrapper" table="framework">
                <button class="entry-set-button" type="button" class="btn btn-primary">Select Framework</button>
                <div class="entry-info">
                    <div class="entry-msg">Using Framework <span class="entry-name">NONE</span></div>
                    <button class="entry-edit-button" type="button" class="btn btn-primary">Edit</button>
                </div>
            </div>
            <div class="entry-wrapper" table="law">
                <button class="entry-set-button" type="button" class="btn btn-primary">Select Law</button>
                <div class="entry-info">
                    <div class="entry-msg">Using Law <span class="entry-name">NONE</span></div>
                    <button class="entry-edit-button" type="button" class="btn btn-primary">Edit</button>
                </div>
            </div>
        </div>

        <!-- graph editor -->
        <h2>Build a relation with concepts</h2>
        <div id="graph-buttons" style="margin-bottom: 20px">
            <div id="graph-controls">
                <div id="palette-controls">
                    <button id="concept-create-button" type="button" class="btn btn-primary">New Concept</button>
                    <select id="palette-concept-filter" class="framework-filter">
                        <option value="-1">-- Filter --</option>
                    </select>
                </div>
                <div id="predicate-controls">
                    <select id="set-predicate">
                        <option value="-1">Select Predicate</option>
                        <option value="new">New Predicate</option>
                    </select>
                    <button id="remove-predicate" type="button" class="btn btn-primary">Remove Predicate</button>
                    <label id="predicate-help">Right-click a node to add/remove it from this predicate</label>
                </div>
                <div id="relation-controls">
                    <button id="save-relation" type="button" class="btn btn-primary">Save Relation</button>
                    <button id="evaluate-relation" type="button" class="btn btn-primary">Evaluate</button>
                    <label id="evaluate-msg"></label>
                </div>
            </div>
        </div>
        <div style="width: 100%; display: flex; justify-content: space-between">
            <div id="concept-palette" style="width: 160px; margin-right: 2px; background-color: whitesmoke; border: solid 1px black"></div>
            <div id="graph-canvas" style="flex-grow: 1; height: 620px; border: solid 1px black"></div>
            <div id="node-info" style="display: inline-block; vertical-align: top;">
                <h3 id="node-title"></h3>
                <p id="node-description"></p>
            </div>
        </div>

        {{ =LOAD('default', 'entry.load', ajax=False, vars={'table': 'framework'}) }}
        {{ =LOAD('default', 'entry.load', ajax=False, vars={'table': 'law'}) }}
        {{ =LOAD('default', 'entry.load', ajax=False, vars={'table': 'concept'}) }}

        <div id="symbolization">
            <div id="sybolization-controls">
                <button id="symbolize-relation" type="button" class="btn btn-primary">Symbolize</button>
            </div>
            <div id="symbolization-wrapper">
            </div>
        </div>

        <div id="visualization">
            <div id="visualization-controls">
                <button id="visualize-relation" type="button" class="btn btn-primary">Visualize</button>
            </div>
            <canvas id="visualization-canvas">
            </canvas>
        </div>

    </body>



    {{block page_css}}
    <style>
        html {
            height: 100%;
        }
        body {
            min-height: 100%;
            margin: 20px;
        }

        .entry-wrapper {
            padding: 10px 0;
        }
        .entry-set-button {
            display: inline-block;
        }
        .entry-info {
            display: inline-block;
        }
        .entry-msg {
            display: inline-block;
            margin-right: 20px;
        }
        .entry-edit-button {
            display: inline-block;
        }


        .entry-modal .modal-dialog {
            width: 70%;
        }
        .entry-modal .nav-tabs {
            border-width: 2px;
        }
        .entry-modal .nav-tabs > li {
            font-size: 16px;
        }
        .entry-modal .nav-tabs > li > a {
            border-width: 2px;
        }
        .entry-modal .tab-content {
            padding: 10px;
        }
        .entry-modal .tab-pane > * {
            display: block;
            margin-bottom: 5px;
        }
        .entry-modal input, .entry-modal select, .entry-modal textarea {
            border-radius: 5px;
            font-size: 18px;
            background-color: #eff;
            color: #000;
        }
        .entry-modal .form-group label {
            display: block;
        }
        .entry-modal input {
            width: 50%;
        }
        .entry-modal textarea {
            width: 100%;
        }
        .entry-modal .result-display {
            padding: 5px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            white-space: nowrap;
            overflow-x: hidden;
        }
        .entry-modal .result-display.selected {
            background-color: #ddf;
            border-radius: 10px;
        }
        .entry-modal .result-display > span {
            display: inline-block;
            white-space: nowrap;
            overflow-x: hidden;
        }
        .entry-modal .result-display > .result-name {
            width: 40%;
        }
        .entry-modal .result-display > .result-description {
        }
        .entry-modal .tab-footer {
            text-align: right;
        }


        .multiple-template {
            display: none;
        }



        /*.concept {
            border: 3px solid red;
            border-radius: 4px;
            padding: 6px;
            font-size: 14px;
            color: black;
        }*/

        #editor-wrapper {
            display: table;
            width: 100%;
            height: 100%;
        }
        #editor-container {
            display: table-row;
            width: 100%;
            height: 100%;
        }
        #concept-container, #graph-container {
            display: table-cell;
        }
        #concept-container {
            width: 10%;
            height: 100%;
            border: 3px solid blue;
        }
        #graph-container {
            width: auto;
            height: 100%;
            border: 3px solid green;
        }

        #graph-controls {
        }
        #predicate-controls, #relation-controls {
            margin-bottom: 20px;
        }
        #graph-controls button, #graph-controls select {
            padding: 5px 10px;
            border: 2px solid black;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
            background-color: #aaaaff;
            color: black;
        }
        #predicate-controls {
            float: left;
        }
        #predicate-controls button {
        }
        #remove-predicate, #predicate-help {
            display: none;
        }
        #relation-controls {
            float: right;
        }
        #relation-controls button {
        }

        #node-info {
            background-color: #8ff;
            color: #604;
            font-weight: bold;
            padding: 0 20px;
        }


        #symbolization {
        }
        #symbolization-controls {
            margin: 20px 0;
        }
        #symbolization-wrapper {
            width: 100%;
            text-align: center;
        }

        #visualization {
        }
        #visualization-controls {
            margin: 20px 0;
        }
        #visualization-canvas {
            border: 3px solid green;
        }

    </style>
    {{end page_css}}




    {{block page_js}}
    {{include 'web2py_ajax.html'}}
    <script type="text/javascript" src="/welcome/static/GoJS-master/release/go.js"></script>
    <script type="text/javascript" src="/welcome/static/GoJS-master/assets/js/highlight.js"></script>
    <script type="text/javascript" src="/welcome/static/GoJS-master/assets/js/bootstrap.min.js"></script>
    <!--<script src="{{=URL('static', 'js/knowledge.js')}}"></script>-->
    <script type="text/javascript">

        var $$ = go.GraphObject.make;

        /*********   RELATION   *****************

        A wrapper class for all functionality on this page

        *****************************************/

        function Relation() {

            this.paletteFramework = null;
            this.paletteFrameworks = [];

            this.frameworks = {};
            this.frameworks[-1] = new Framework();
            this.frameworks[-1].id = -1;
            this.frameworks[-1].relation = this;

            this.concepts = {};

            this.laws = {};
            this.laws[-1] = new Law();
            this.laws[-1].id = -1;
            this.laws[-1].relation = this;

            this.nodes = {};
            this.nodes[0] = new Node();
            this.nodes[0].id = 0;
            this.nodes[0].relation = this;

            this.predicates = {};

            this.myNodes = [];
            this.nodesToCheck = [];
            this.newNodes = [];
            this.evaluated = {};

            this.tempIdMap = null;
            this.nodeMap = {};
            this.map = {};
            this.nextMapId = 0;
            this.nextNodeId = 0;

            this.nodeTemplates = {
                'default': {
                    shape: "RoundedRectangle",
                    fill: "#88AD5F"
                },
                'predicate': {
                    shape: "Rectangle",
                    fill: "yellow"
                },
                'appended': {
                    shape: 'RoundedRectangle',
                    fill: '#FF66AA'
                }
            };

            this.concepts = {};
            this.wildcardConcept = 2;

            this.predicateSets = [];
            this.currentPredicate = -1;
        }

        Relation.prototype.loadFrameworkURL = "{{=URL('default', 'loadFramework', extension='json')}}";
        Relation.prototype.saveEntryURL = "{{=URL('default', 'saveEntry', extension='json')}}";
        Relation.prototype.saveRelationURL = "{{=URL('default', 'saveRelation', extension='json')}}";





        Relation.prototype.updateFields = function(element) {
            let self = this;
            let $element = element ? $(element) : $(document);
            $element.find('select[select-table]').each(function() {
                let $this = $(this), table = $this.attr('select-table');
                $this.children().first().nextAll().remove();
                let entries = self.getTable(table), sorted = [];
                for(let id in entries) {
                    if(id < 0) continue;
                    let i = 0, name = entries[id].name;
                    while(i < sorted.length && name.localeCompare(entries[sorted[i]].name) > 0) i++;
                    sorted.splice(i, 0, id);
                }
                sorted.forEach(function(id) {
                    $this.append('<option value="' + id + '">' + entries[id].name + '</select>');
                });
            });
        };


        Relation.prototype.setNodeData = function(nodeId, attr, value) {
            console.log('setting node ' + nodeId + ' ' + attr + ' to ' + value);
            let self = this, node = self.nodes[nodeId];
            if(node) node[attr] = value;
            let data = self.diagram.model.findNodeDataForKey(nodeId);
            if(data) self.diagram.model.set(data, attr, value);
        };


        Relation.prototype.getNodeString = function(id) {

            let self = this, node = self.nodes[id], law = self.law;
            if(!node) return '';

            let lawStr = '';
            if(law) lawStr = law.name + ' [' + law.id + ']';
            else lawStr = 'none';

            let predicates = '';
            for(let group in self.predicateSets) {
                if(self.predicateSets[group].hasOwnProperty(id)) {
                    let groupStr = '';
                    for(let n in self.predicateSets[group]) groupStr += '' + n + ',';
                    predicates += groupStr.substring(0, groupStr.length-1) + '; ';
                }
            }
            if(predicates == '') predicates = 'none';
            else predicates = predicates.substring(0, predicates.length-2);

            let mappings = '';
            if(self.nodeMap.hasOwnProperty(id)) {
                for(let p in self.nodeMap[id]) {
                    for(let m in self.nodeMap[id][p]) {
                        let map = self.map[m], law = self.laws[map.lawId];
                        let mapStr = '';
                        for(let n in map.idMap) if(self.nodes[n].law == law.id) mapStr += '' + n + ',';
                        mapStr = mapStr.substring(0, mapStr.length-1);
                        mappings += '' + p + ' [' + self.concepts[self.nodes[p].concept].name + ']' + "\n"
                            + '.  in ' + law.name + ' [' + law.id + ']' + "\n"
                            + '.  ' + mapStr + ' (map ' + m + ')' + "\n";
                    }
                }
            }
            if(mappings == '') mappings = 'none';
            else mappings = "\n" + mappings;

            msg = 'ID: ' + node.id + "\n"
                + 'Law: ' + lawStr + "\n"
                + 'Predicates: ' + predicates + "\n"
                + 'Values: ' + node.value.toString() + "\n"
                + 'Mappings: ' + mappings;
            return msg;
        };




        Relation.prototype.setPredicate = function(predicate) {
            let self = this;
            //first un-highlight any selected predicate nodes
            self.diagram.nodes.each(function(node) {
                self.setNodeTemplate(node.data, 'default');
            });

            if(predicate < 0) {
                $('#remove-predicate, #predicate-help').hide();
                return;
            }

            //create a new empty predicate set if requested
            if(predicate == 'new') {
                predicate = self.predicateSets.length;
                self.predicateSets.push({});
                let $select = $('#set-predicate');
                $select.find('[value="new"]').before('<option value="' + predicate + '">Predicate ' + (predicate+1) + '</option>');
                $select.val(predicate);
            }

            $('#remove-predicate, #predicate-help').show();

            //now highlight nodes that are part of the chosen predicate
            for(let node in self.predicateSets[predicate]) {
                self.setNodeTemplate(node, 'predicate');
            }
            self.currentPredicate = predicate;
        };


        Relation.prototype.removePredicate = function(predicate) {
            let self = this;
            if(predicate === undefined) predicate = self.currentPredicate;
            if(isNaN(predicate)) return false;
            if(self.currentPredicate == predicate) {
                self.setPredicate(-1);
                $('#set-predicate').val(0);
            }
            self.predicateSets.splice(predicate, 1);
            let $option = $('#set-predicate > option[value="' + predicate + '"]').val("");
            $option.nextAll().each(function(i, el) {
                el.value = parseInt(el.value) - 1;
                el.text = 'Predicate ' + el.value;
            });
            $option.remove();
        };


        Relation.prototype.togglePredicate = function(node, include) {
            let self = this;
            if(!self.predicateSets.hasOwnProperty(self.currentPredicate)) return false;
            if(include) {
                self.predicateSets[self.currentPredicate][node] = true;
                self.setNodeTemplate(node, 'predicate');
            } else {
                delete self.predicateSets[self.currentPredicate][node];
                self.setNodeTemplate(node, 'default');
            }
        };


        Relation.prototype.inPredicate = function(node) {
            let self = this;
            if(isNaN(node)) return false;
            return self.predicateSets.hasOwnProperty(self.currentPredicate)
                && self.predicateSets[self.currentPredicate].hasOwnProperty(node);
        };


        Relation.prototype.useFramework = function(id) {
            let self = this;
            self.setFramework(id);

            if(!self.framework.loaded) {
                $.ajax({
                    url: self.loadFrameworkURL,
                    type: 'get',
                    dataType: 'json',
                    data: {
                        framework: self.framework.id
                    },
                    success: function(data) {
                        self.predicates = {};
                        self.storeEntries(data);

                        if(data.hasOwnProperty('nextNodeId')) self.nextNodeId = parseInt(data.nextNodeId);

                        self.setPaletteModel();
                        self.filterPalette();
                        self.updateFields();
                    }
                });
            } else {
                self.setPaletteModel();
                self.filterPalette();
            }
        };


        Relation.prototype.setFramework = function(framework) {
            let self = this;
            if(!isNaN(framework)) framework = self.findEntry('framework', framework);
            if(!framework) return;
            self.framework = framework;
            $('.entry-wrapper[table=framework] .entry-name').text(self.framework.name || 'None');

            let $filters = $('.framework-filter');
            let options = [];
            if(self.framework.id > 0) options.push(self.framework.id);
            for(let i = 0; i < options.length; i++) {
                let fw = options[i], framework = self.frameworks[fw];
                for(let dep in framework.dependencies) {
                    if(options.indexOf(dep) < 0) options.push(dep);
                }
            }
            $filters.children().first().nextAll().remove();
            options.forEach(function(option) {
                el = '<option value="' + option + '">' + self.frameworks[option].name + '</option>';
                $filters.append(el);
            });
            $filters.val(self.framework.id);
        };


        Relation.prototype.useLaw = function(id) {
            let self = this;
            if(self.law.id == id) return;
            self.setLaw(id);
            if(self.law.framework != self.framework.id)
                self.useFramework(self.law.framework);
            self.myNodes = self.law.nodes;
            self.draw();
        };


        Relation.prototype.setLaw = function(law) {
            let self = this;
            if(!isNaN(law)) law = self.findEntry('law', law);
            if(!law) return;
            self.law = law;
            $('.entry-wrapper[table=law] .entry-name').text(self.law.name || 'None');
        };


        Relation.prototype.save = function() {
            let self = this, id = self.law.id;

            let nodes = [], predicates = [];
            self.syncGraph();
            self.law.nodes.forEach(function(id) {
                let node = self.findEntry('node', id);
                if(node) nodes.push({id: node.id, concept: node.concept, name: node.name, head: node.head,
                    reference: node.reference, value: node.value.writeValue()});
            });
            self.predicateSets.forEach(function(pset, i) {
                for(let node in pset) {
                    predicates.push({'node': parseInt(node), 'predicate_group': i+1});
                }
            });

            $.ajax({
                url: self.saveRelationURL,
                type: 'post',
                dataType: 'json',
                data: JSON.stringify({id: id, framework: self.framework.id, nodes: nodes, predicates: predicates}),
                success: function(data) {
                    self.storeEntries(data);
                    $('#law-save-msg').val('Relation saved').show(3000);
                },
                error: function() {
                }
            });
        };


        Relation.prototype.syncGraph = function() {
            let self = this, graphNodes = [];
            self.diagram.nodes.each(function(node) {
                let id = parseInt(node.data['id']);
                let entries = self.getTable('node');
                if(!entries.hasOwnProperty(id)) entries[id] = self.createEntry('node');
                let entry = entries[id];
                entry.id = id;
                entry.concept = node.data['concept'];
                entry.name = node.data['name'] || null;
                entry.value.readValue(node.data['value']);
                let head = node.findNodesInto('T'),
                    reference = node.findNodesOutOf('T');
                head = head.count > 0 ? head.first().data['id'] : null;
                reference = reference.count > 0 ? reference.first().data['id'] : null;
                entry.setHead(head);
                entry.setReference(reference);
                if(graphNodes.indexOf(id) < 0) graphNodes.push(id);
            });

            self.law.nodes.forEach(function(id) {
                let node = self.findEntry('node', id);
                if(node && graphNodes.indexOf(id) < 0) {
                    node.remove();
                }
            });
            self.law.nodes = graphNodes;
            self.myNodes = self.law.nodes;
        };


        Relation.prototype.selectEntry = function(table, callback, opts) {
            let self = this;
            let options = Object.assign({
                tab: 'search',
                framework: self.framework.id,
                fields: {}
            }, opts);
            let $modal = $('#' + table + '-select'), $form = $modal.find('#' + table + '-create-form');
            $modal.find('#' + table + '-' + options.tab + '-tab').show().tab('show');
            $modal.find('.framework-filter').val(options.framework);
            self.showSearchResults(table, '');
            $modal.data('callback', callback);
            $form.find('input,select').each(function(i, el) {
                let $el = $(el), name = $el.attr('name');
                if(name == 'table') return;
                let value = options.fields[name] || (name == 'framework' ? '-1' : '');
                let $multiple = $el.parents('.multiple-wrapper');
                if($el.is('input[type=checkbox]')) $el.attr('checked', value ? true : false);
                else if($multiple.length > 0) {
                    $multiple.find('.multiple-item').first().nextAll('.multiple-item').remove();
                    if(typeof value == 'object') value.forEach(function(row) {
                        self.addMultipleField($multiple, row);
                    });
                } else $el.val(value);
            });
            $modal.modal('show');
        };


        Relation.prototype.newEntry = function(table, callback) {
            let self = this, $modal = $('#' + table + '-select');
            $modal.find('#' + table + '-search-tab').hide();
            $modal.find('#' + table + '-create-tab').tab('show');
            $modal.find('.framework-filter').val(self.framework.id);
            $modal.data('callback', callback);
            $modal.modal('show');
        };


        Relation.prototype.editEntry = function(table, id, callback) {
            let self = this, entries = self.getTable(table);
            if(!entries.hasOwnProperty(id)) return;
            let entry = entries[id];
            let $modal = $('#' + table + '-edit'), $form = $modal.find('#' + table + '-edit-form');
            $form.find('[name="id"]').val(id);
            $form.find('[name="name"]').val(entry.name);
            $form.find('[name="description"]').val(entry.description);
            $modal.find('.framework-filter').val(entry.framework);
            if(table == 'concept') {
                $form.find('[name="law_specific"]').attr('checked', entry.law > 0);
                $form.find('[name="law"]').val(self.law.id);
                $form.find('[name="symbol"]').val(entry.symbol);
                $form.find('[name="value"]').val(entry.value);
                $form.find('[name="symmetric"]').attr('checked', entry.symmetric);
                $form.find('[name="head"]').val(entry.head);
                $form.find('[name="reference"]').val(entry.reference);
            }
            if(table == 'framework' || table == 'concept') {
                let $wrapper = $form.find('.multiple-wrapper');
                $wrapper.find('.multiple-item').first().nextAll('.multiple-item').remove();
                let depCount = 0;
                for(let dep in entry.dependencies) {
                    self.addMultipleField($wrapper, {dependencies: dep});
                    depCount++;
                }
                if(depCount == 0) self.addMultipleField($wrapper);
            }
            $modal.data('callback', callback);
            $modal.modal('show');
        }


        Relation.prototype.addMultipleField = function($element, values) {
            let self = this, $template = $element.find('.multiple-template');
            //add a new copy of the template
            let $entry = $template.clone().removeClass('multiple-template');
            //update any input field choices according to the current data set
            self.updateFields($entry);
            //update the index, and values if given, on all sub-elements that have names for form submission
            $element.find('.multiple-item').last().after($entry);
            let index = $entry.index();
            $entry.find('[name]').each(function() {
                let $this = $(this), name = $this.attr('name');
                $this.attr('name', name + '_' + index);
                if(typeof values == 'object' && values.hasOwnProperty(name)) $this.val(values[name]);
            });
            //add listener to the REMOVE button
            let $required = $entry.find('.multiple-required'), $removeButton = $entry.find('.multiple-remove');
            $removeButton.click(function(e) {
                if($(this).hasClass('disabled')) return;
                $entry.remove();
            });
        };


        Relation.prototype.showSearchResults = function(table, text) {
            let self = this;

            let entries = self.getTable(table), results = [];
            if(!entries) return;

            let $tab = $('#' + table + '-search-tab-content'), $results = $tab.find('#' + table + '-results'),
                $framework = $tab.find('.framework-filter');
            let framework = $framework.val();

            for(let i in entries) {
                let id = i, entry = entries[id];
                if(framework > 0 && entry.framework != framework) continue;
                if(entry.hasOwnProperty('name')) {
                    let name = entry.name.toLowerCase();
                    if(name.indexOf(text) >= 0) {
                        let result =
                            '<div id="' + table + '-result-' + id + '" class="result-display">' +
                            '<span class="result-name">' + entry.name + '</span>';
                        if(entry.hasOwnProperty('description'))
                            result += '<span class="result-description">' + entry.description + '</span>';
                        result += '</div>';
                        let $result = $(result);
                        $result.click(function(e) {
                            $('#' + table + '-selected-id').val(id);
                            $results.children().removeClass('selected');
                            $(this).addClass('selected');
                        });
                        results.push($result);
                    }
                }
            }
            $results.empty();
            results.forEach(function($res) { $results.append($res); });
        };


        Relation.prototype.visualize = function() {
            let self = this, canvas = self.canvas;

            //self.syncGraph();
            if(!self.evaluated['Visualization']) {
                self.evaluate({
                    tag: 'Visualization',
                    useLaw: function(law) {
                        return law.name.match(/^Visualization/) !== null;
                    },
                    propagate: {value: true}
                });
            }

            canvas.strokeColor = 'red';
            canvas.lineWidth = 4;
            canvas.fillColor = 'blue';

            //all the visualization objects will have been determined in the relation
            let objects = self.law.getNodesByConcept('visual');
            objects.forEach(function(object) {
                let originNode = object.getChildrenByConcept('origin')[0], origin = null;
                if(originNode) {
                    let opt = self.getChildTree(originNode);
                    if(opt.x && opt.y) origin = {x: opt.x._value, y: opt.y._value};
                }
                let head = object.getHead();
                console.log('visualizing ' + head.getConcept().name + ' [' + head.id + ']');
                if(origin) console.log('from (' + origin.x + ', ' + origin.y + ')');
                let shapes = object.getChildrenByConcept('shape');
                shapes.forEach(function(shape) {
                    let shapeName = shape.getConcept().name, opt = self.getChildTree(shape);
                    console.log('drawing shape ' + shapeName);
                    console.info(opt);
                    switch(shapeName) {
                        case 'line':
                            let x1 = null, y1 = null, x2 = null, y2 = null;
                            if(origin) {
                                x1 = origin.x;
                                y1 = origin.y;
                            }
                            if(opt.start && opt.start.x && opt.start.y) {
                                x1 += opt.start.x._value;
                                y1 += opt.start.y._value;
                            }
                            if(opt.end && opt.end.x && opt.end.y) {
                                x2 = opt.end.x._value;
                                y2 = opt.end.y._value;
                            }
                            else if(opt.delta && opt.delta.x && opt.delta.y) {
                                x2 = x1 + opt.delta.x._value;
                                y2 = y1 + opt.delta.y._value;
                            }
                            if(typeof x1 == 'number' && typeof x2 == 'number' && typeof y1 == 'number' && typeof y2 == 'number') {
                                console.log('line from (' + x1 + ',' + y1 + ') to (' + x2 + ',' + y2 + ')');
                                canvas.beginPath();
                                canvas.moveTo(x1, y1);
                                canvas.lineTo(x2, y2);
                                canvas.stroke();
                            }
                            break;
                        case 'arrow':
                            break;
                        case 'arc':
                            break;
                        case 'circle':
                            if(origin && opt.radius) {
                                canvas.beginPath();
                                canvas.arc(origin.x, origin.y, opt.radius._value, 0, 2*Math.PI);
                                canvas.stroke();
                            }
                            break;
                        case 'triangle':
                            break;
                        case 'rectangle':
                            break;
                        default: break;
                    }
                });
            });
        };


        Relation.prototype.getChildTree = function(node) {
            let self = this, val = node.value.toString();
            if(!isNaN(val)) val = parseFloat(val);
            let opts = {_value: val};
            let children = node.getChildren();
            children.forEach(function(child) {
                let concept = child.getConcept();
                opts[concept.name] = self.getChildTree(child);
            });
            return opts;
        };


        var relation;
        $(document).ready(function() {
            relation = new Relation();
            let self = relation;

            self.initDiagram();
            self.setLaw(-1);
            self.useFramework(-1);

            let $hideButton = null;
            $('.entry-modal button[data-dismiss=modal]').click(function(e) {
                $hideButton = $(this);
            });
            $('.entry-modal').on('show.bs.modal', function(e) {
                $hideButton = null;
            });
            $('.entry-modal').on('hide.bs.modal', function(e) {

                let $this = $(this), $button = $hideButton || $(document.activeElement), callback = $this.data('callback');
                let prefix = $this.attr('id'), prefixArr = prefix.split('-'), table = prefixArr[0], type = prefixArr[1];
                console.log('modal ' + $this.attr('id') + ' hidden');

                if($button.hasClass('modal-cancel')) {
                    return;

                } else if($button.hasClass('modal-select')) {
                    let id = $('#' + table + '-selected-id').val();
                    if(!id) return;
                    if(callback) callback.call(self, id);

                } else if($button.hasClass('modal-save')) {
                    let $form = $this.find('form.entry-form'), arr = $form.serializeArray(), obj = {};
                    for(let i = 0; i < arr.length; i++) obj[arr[i]['name']] = arr[i]['value'];

                    //convert any multiple fields to proper format
                    $form.find('.multiple-template').each(function() {
                        let $this = $(this), $fields = $this.find('[name]');
                        $fields.each(function() {
                            let name = $(this).attr('name');
                            obj[name] = {};
                            for(let key in obj) if(key.startsWith(name + '_')) {
                                obj[name][obj[key]] = true;
                                delete obj[key];
                            }
                        });
                    });

                    if(table == 'framework') {
                        for(let dep in obj.dependencies) {
                            let framework = self.findEntry('framework', dep);
                            //when saving a framework, flag dependency frameworks that need to be loaded
                            //so the server can send them
                            obj.dependencies[dep] = framework && !framework.loaded;
                        }
                    } else if(table == 'concept') {
                        obj.law = null;
                    }

                    console.log('saving entry');
                    console.info(obj);
                    $.ajax({
                        url: Relation.prototype.saveEntryURL,
                        type: 'post',
                        dataType: 'json',
                        data: JSON.stringify(obj),
                        success: function(data) {
                            if(data.hasOwnProperty('id') && !isNaN(data.id)) {
                                self.storeEntries(data);
                                if(callback) callback.call(self, data.id);
                            }
                        }
                    });
                }
            });

            let $filters = $('.framework-filter');
            $filters.change(function(e) {
                let $this = $(this), framework = $this.val(), $modal = $(this).parents('.modal');
                if($modal.length > 0) {
                    let table = $modal.attr('id').split('-')[0];
                    $modal.find('.framework-filter').val(framework);
                    let type = $modal.attr('id').split('-')[1];
                    if(type == 'select') self.showSearchResults(table, '');
                } else if($this.attr('id') == 'palette-concept-filter') {
                    self.filterPalette(framework);
                }
            });

            $('.entry-wrapper').each(function() {
                let $this = $(this), table = $this.attr('table');
                $this.find('.entry-set-button').click(function(e) {
                    self.selectEntry(table, function(id) {
                        if(table == 'framework') self.useFramework(id);
                        else if(table == 'law') self.useLaw(id);
                        let entry = self.findEntry(table, id);
                        $this.find('.entry-name').text(entry.name || 'None');
                        $this.find('.entry-info').show();
                    });
                });
                $this.find('.entry-edit-button').click(function(e) {
                    let id = table == 'framework' ? self.framework.id : table == 'law' ? self.law.id : null;
                    if(!id) return;
                    self.editEntry(table, id);
                });
            });

            $('#concept-create-button').click(function(e) {
                self.newEntry('concept');
            });

            $('.search-field').on('keydown change', function(e) {
                let $this = $(this), text = $this.val().toLowerCase(), table = $this.attr('id').split('-')[0];
                self.showSearchResults(table, text);
            });

            $('.multiple-wrapper').each(function() {
                let $this = $(this);
                self.addMultipleField($this);
                $this.find('.multiple-add').click(function(e) {
                    self.addMultipleField($this);
                });
            });


            $('#set-predicate').change(function(e) {
                relation.setPredicate($(this).val());
            });
            $('#remove-predicate').click(function(e) {
                relation.removePredicate();
            });

            $('#save-relation').click(function(e) {
                relation.save();
            });
            $('#evaluate-relation').click(function(e) {
                relation.evaluate();
            });
            $('#visualize-relation').click(function(e) {
                relation.visualize();
            })
            $('#symbolize-relation').click(function(e) {
                relation.symbolize();
            })
        });

    </script>
    {{end page_js}}

</html>