/static/GoJS-master/*
/static/GoJS-master.zip
/static/jquery-ui-1.12.1.custom/*
/static/jquery-ui-1.12.1.custom.zip
/sessions/*
/errors/*
/databases/*_relation.table
/databases/*_relation_dependency.table
/databases/*_auth_*.table
/databases/*_painting.table
/static/spacetime/misc.txt
/static/paintings/images/*
