<div class="dedication">
    Dedicated to my wife iMer.
</div>


<span class="section-title">Abstract</span>

This is a partial outline of a speculative continuum theory of particle physics.  The only entity is the four-dimensional spacetime manifold, and it is governed by the wave equation of its own curvature.  Qualitative soliton models are proposed for the fundamental fermions, based on the idea that a 3D manifold can form a loop between two half-spaces at a particular point, via a neck-pinch singularity.  Mathematical ideas are employed to argue for their existence, but nothing is proved, and no Standard Model parameters are derived.  Nevertheless, the pieces seem to fit together as far as they are developed, and qualitative justifications are offered for some aspects of modern physics.  Two of the most encouraging are the simple explanations of the quark charges and dark energy.  The substantial remaining difficulty would be in demonstrating that the wave equation admits solutions of the forms described below, and of course that their quantitative properties match the known values.