<span class="section-title">Baryon Spin</span>

The charges of the quarks within baryons were accounted for in "<a href="{{=URL('spacetime','index',vars={'section':'baryons'})}}">Baryons</a>", but their spin states still need to be addressed.  It is known that all four combinations can be in a spin-\(\frac32\) state; these are called delta baryons.  But only the mixed baryons can be in a spin-\(\frac12\) state, which are the nucleons.
<p>

	Two spin vectors prefer to be anti-aligned with respect to the space between them.  But two quarks in a hadron are effectively connected in two ways: through external space, and through a loop segment.  In particular, since spacelike geodesics traverse the loop segments, by continuity, timelike ones will as well; in this way the spins of adjacent quarks are coupled.  And as stated above, the spin vector will be along the loop axis.  So the quark spin vectors would like to be anti-aligned both with respect to external space, and with respect to the loop, to the extent possible.
<p>

	Because there are three quarks, if any one is anti-aligned with its two neighbors relative to the loop, these two will be aligned with each other.  But this is far preferable to having all three aligned, so the baryon should be in this state.  That gives the following possibilities:
<p>


<div id="fig:baryon_spin" class="figure">
<image width=80% src="{{=URL('static','spacetime/images/Baryon_Spin_II.jpg')}}"></image>
<div class="figure-caption">
    The allowable spin states for the first-generation baryons, assuming one spin vector (purple arrow) is anti-aligned with the others (orange arrows) relative to the flow of the loop
</div>
</div>

	Exactly what spin-\(\frac32\) means in this model is open to some interpretation, but at the very least, if we use the vortex analogy, the two states on the right will have all their flows aligned in the interior of the triangle, forming a sort of vortex ring, making them much more stable than the four on the left.  In fact, their spin vectors add up to zero.  But the measurement process may force them to align separately (distorting the shape of the baryon), yielding a nonzero net spin.
<p>

	One way this alignment could happen is that the quark closest to the measurement axis aligns first, and the other two initially rotate with it, then as the torque takes effect these two align with the axis separately.  That is schematically represented by the three pink arrows, with the dashed blue arrow being the measurement axis.  In this case, as depicted, an appropriate choice of axis would yield a spin of \(\frac32\) for the states on the left, but those on the right would give \(\frac12\) no matter which axis were picked.
<p>

	So the states on the left are the delta baryons, while the two on the right are the proton and neutron, giving us the correct charges as well as spin states for the first-generation baryons.  Those with higher generation quarks would follow the same pattern, only with extra loops as explained earlier.
<p>

	Note that the fact that the nucleon spins form a "vortex ring" may be the reason that this particular configuration is the stable one, and not some other combination of loop axis orientations.  A delta baryon can be formed momentarily by forcing one of the quarks of a nucleon to flip its loop axis, reversing both its charge and spin, but beyond this rare phenomenon, we would not expect any other loop axis configurations to be stable.

<p>
    At present it is not clear how the above reasoning could explain the relative energies of the mesons, so no attempt will be made to rationalize these.


<p>

<span class="side-note">A Note on the Weak Force</span>

Electrons are produced alongside antineutrinos, and positrons with neutrinos, in accordance with lepton number conservation.  But apparently the only difference between neutrinos and antineutrinos is their helicity: the spin of neutrinos is left-handed about their velocity, antineutrinos right-handed.  Although velocity and thus helicity are relative to the reference frame of the observer, it has been conjectured that we haven’t observed the complementary helicities because all detectable neutrinos move virtually at the speed of light anyway.  This seems to imply that, in the reaction frame, that is, in the frame of the particle from which the neutrino was created, the helicity is <span class="italic">always</span> left-handed for neutrinos, right-handed for antineutrinos.  Why should such a rule exist?
<p>

	Helicity is a kind of frame-dependent chirality.  In this model, charge is also a chiral phenomenon.  And since the sign of the charged lepton in decay processes determines the helicity of the associated neutral lepton, this suggests that these two types of chirality, one purely spatial (as seen from the reaction frame) and the other spatio-temporal, are somehow linked by the process.