<span class="section-title">Baryon Mass</span>

    Given the relative complexity of the baryon, there are several possible sources of its large mass, a few of which are discussed here.
<p>
    First of all, the mass/energy of a baryon, like any other waveform, will depend on the exact shape and dimensions it assumes.
    We know experimentally that the baryons have a diameter of roughly one femtometer.  This could be due to multiple factors,
    but perhaps the key consideration is the stability of the "vortex ring" of the quark spin fields, combined with the natural dimensions
    of the spherical rotation itself, according to the wave equation.  Thus the interaction of the quark fields via external space imposes
    a minumum length on the loop segments that connect them.  And this length may well be much higher than that of the electron loop, as
    the latter has only one singularity.  In turn, the volume of the loop segment would be higher than the electron.  Now, recall from
    {{section('higgs_field')}} that the negative-curvature region near the singularity has much less volume than the positive curvature in
    the middle of the loop segment, and this can account for the net positive curvature, ie. mass, of the particle.  So, given a loop with
    similar shape but much higher volume, this effect ought to be amplified, leading to a higher mass.
<p>
    Another point has to do with spin.  In the discussion of baryon spin states, we saw that two of the spin vectors have to be aligned with
    respect to the loop, though these can be anti-aligned with the third.  And the explanation for the coupling of opposite spins was that aligned
    spins will have higher curvature due to the addition of their angular momenta.  So the loop segment connecting the aligned spins will have
    high curvature.  And since mass is the volume integral of curvature, there will be significant mass in that segment.
<p>
	Note also that, in the spin-\(\frac12\) states, the two aligned quarks are the ones with the same charge.  If anything, that would tend
	to increase their distance from one another, thus increasing the volume of their loop segment, making the mass larger still.
<p>
	We should also keep in mind the comparison between nucleons and delta baryons.  Experiments have shown that the delta baryons have masses
	around 1232 MeV, while the nucleons are about 938 MeV.  The common difference in the loop model is that one of the spin vectors is reversed
	externally, so that we don’t have the “vortex ring” configuration.  If this only increases the mass by about one-third of its initial value,
	it could support the idea that most of the nucleon mass is contained in its loop segments, whether due to spin alignment, increased volume, or both.



