<span class="section-title">The Belt Model</span>

In a belt, a 360 degree twist is equivalent to a loop, in that you can convert one to another by giving the belt more or less slack:

<div id="fig:belt_loop_or_twist" class="figure">
<image width=30% src="{{=URL('static','spacetime/images/belt_twist.JPG')}}"></image>
<image width=30% src="{{=URL('static','spacetime/images/belt_loop.JPG')}}"></image>
<div class="figure-caption">
    Equivalence of loop and twist in a belt
</div>
</div>

By the same token, a loop can be induced in a flat belt by making a hump and “twisting it off” without allowing the ends of the belt to twist; but the belt will then have a 360 twist that compensates the loop, thus preserving its “net flatness”:

<div id="fig:belt_loop_and_twist" class="figure">
<image width=30% src="{{=URL('static','spacetime/images/belt_flat.JPG')}}"></image>
<image width=30% src="{{=URL('static','spacetime/images/belt_hump.JPG')}}"></image>
<image width=30% src="{{=URL('static','spacetime/images/belt_loop_twist.JPG')}}"></image>
<div class="figure-caption">
    Forming a loop from a flat belt without allowing its ends to twist induces a compensating 360 degree twist.
</div>
</div>

This behaves substantially like a charged particle: the loop is the particle, and the twist its electric field.  Two such loops with opposite twists can be easily slid together, whereas two loops with the same twist tend to repel.
	This phenomenon is generally referred to as "topological charge", and it has been studied in soliton solutions such as those of the Sine-Gordon equation; see for example {{ cite('spin_charge_topological') }} or {{ cite('sine_gordon_solitons') }}.  In fact, attempts have been made for some time to apply the concept of solitons to the fundamental particles; see {{cite('solitons')}}.
