<span class="section-title">Generations</span>

If particles are solitons, and the mass of a particle is proportional to its frequency, identifying the possible masses of particles is
equivalent to finding the frequencies at which they can oscillate.  We have said the electron is a single loop formed with a neck-pinch
singularity.  This divides space into two regions, the space inside and outside the loop, and defines the behavior of the metric at the
boundary (singularity) between them.  And since a particle is a solitonic curvature wave, this constraint also acts as a kind of
boundary condition on the wave equation.
<p>
When a region has constrained boundaries, it only admits a discrete spectrum of fundamental modes, historically known as the Dirichlet
eigenvalues.  These have been studied especially for linear systems.  In our case, of course, the system is highly non-linear.  But because
the loop is finite and has a constrained boundary, we might expect that it, too, will have a discrete spectrum of possible frequencies.  These
would correspond to the masses of the electron, muon, and tauon.
<p>
In the linear case there are an infinite number of possible frequencies.  That could be true here as well, if the fourth frequency is higher
than what experiments have been able to measure to date.  In particular, the ratios of successive frequencies need not decrease from one
generation to the next.  But if there is a true limitation to only three frequencies, that must be some non-linear effect.  Maybe the fourth
frequency would require the loop to be so short that it could no longer carry the invariant topological charge while still transitioning
smoothly to the vacuum curvature.  In this case, perhaps a different value for the vacuum curvature would admit more than three generations,
albeit of different masses than the ones we observe.  In fact, it is worth noting that if the vacuum curvature in our universe changes over
time, so too should the particle masses.  In principle this is a means of testing the theory, though the relevant timescale might be far too
long for this to be feasible.
<p>
Also, in the linear case, we could superimpose the fundamental modes; but the non-linearity here may dictate that these modes can only
exist separately, which is why we only observe these specific particles.  In particular, changing the mode will affect the form -- most
likely the dimensions -- of the loop itself, which would prohibit any other mode, which requires different loop dimensions, from propagating
simultaneously.
<p>
An alternative is that the generations could correspond to distinct structures, ie. the form of the muon is different from that of
the electron.  One variant would be to use the idea of sequential counter-sense loops.  In other words, we could have multiple spatial loops at the
same singularity.  If each new loop has the opposite sense of the previous one, a two-loop particle would have zero net charge, thus being a candidate
for the neutrino.  Three loops would make a muon, four a muon neutrino, five a tauon, and six a tauon neutrino.

<div id="fig:lepton_generations" class="figure">
<image width="50%" src="{{=URL('static','spacetime/images/Lepton_Generations.jpg')}}"></image>
<div class="figure-caption">
    A possible model of the lepton generations.  This drawing is merely schematic, in that it only depicts one spatial geodesic, and does not capture the neck-pinch form of the singularity.
</div>
</div>

Meanwhile, a timelike geodesic would pass through all the spatial loops, but it need not share their rotation sense; thus all particles can still have
the same non-zero spin.

<div id="fig:neutrino_time_loop" class="figure">
<image width=50% src="{{=URL('static','spacetime/images/Neutrino_Time_Loop.jpg')}}"></image>
<div class="figure-caption">
    A timelike geodesic (blue) traversing the spatial cross-sections (red) of the neutrino.  Although they traverse both spatial loops, the timelike
    geodesics themselves still only form a single loop, thus giving the same spin as the electron.
</div>
</div>

For the quarks, it would then make most sense if the higher generations were modifications of the up quark.  For example, the strange quark would be one
extra loop on the up quark, giving a charge of 240 - 360 = 120 degrees, the same as the down quark.  However, the situation would be rather asymmetric,
because the extra loops would have to exist within only one of the two loop segments passing through the quark.

<div id="fig:higher_quarks" class="figure">
<image width=60% src="{{=URL('static','spacetime/images/Higher_Quarks_2.jpg')}}"></image>
<div class="figure-caption">
    With each new loop added to a given segment of a hadron, we are either adding or subtracting the elementary charge unit.
</div>
</div>

This would correspond well to the known decay sequence of the quarks, if we suppose decay is equivalent to shedding one loop.
<p>
This model could match the mass trend, based on the following argument.  The three loops of the muon are created with alternating sense, giving the
same topological charge as the electron, but once the loops are created, the charge could equilibrate between them, such that each
loop only has one-third of the electron charge.  Now, the fact that the muon has the same charge as the electron implies that its external field is also the same,
so the boundary conditions of the loops are as well.  But because the curvature decays with distance from the singularity, the topological charge should be most
concentrated near the singularity.  Since the muon loop only needs to accumulate one-third of the charge, it can be much shorter than the electron loop -- many
more than three times shorter.  Thus its spatial curvatures/twist rates will be much higher on average than those of the electron.  Per the wave equation,
its temporal curvatures will be as well.  So it will have a much higher mass.  The tauon, with only one-fifth of the electron charge per loop, will be even
more massive, but the tauon-muon mass ratio would be lower than the muon-electron ratio, because we are "cutting off" less of the decay function.
<p>
That argument could apply to the quarks, except for one important case: the top-bottom mass ratio is much higher than the preceding ratios.  Some other effect
would then have to explain this anomaly.





