<span class="section-title">The Higgs Boson</span>

Being a quantization of the Higgs field, the Higgs boson should likewise have isotropic curvature (a multiple of the metric), but not homogeneous, or it would be indistinguishable from the field.  A structure which could meet this requirement is a neck pinch singularity with a “bubble”.  There would again be negative spatial curvature all around the singularity, with positive curvature over the bubble.  A two-dimensional cross section would look like this:
<p>


<div id="fig:Higgs_boson" class="figure">
<image src="{{=URL('static','spacetime/images/Higgs_Boson_2D_cross_section.jpg')}}"></image>
<div class="figure-caption">
    A two-dimensional spatial cross-section of the Higgs boson
</div>
</div>

As a 2D surface, this has zero net Gaussian curvature, because it’s just a distortion of the plane, where the neck happens to be contracted to a point.  But in three dimensions, the total depends on how the curvature is associated with volume.  We could draw this surface in different ways, but supposing the round part of the bubble is pronounced, its volume will outweigh that of the hyperbolic transition region, and the net spatial curvature will be positive.  Its time curvature will thus be negative.  But since mass, as mentioned earlier, is technically the sum of the Ricci eigenvalues, the mass of this particle will be positive, just like that of the field it represents.


<p>
<span class="side-note">Another Note on the Weak Force</span>

In weak force processes, quantum mechanics justifies the appearance of the very massive W and Z bosons through the energy-time uncertainty principle.  In this model, however, which is in the end a Lorentzian manifold, energy is strictly conserved (at least locally) by the non-divergence of the Einstein tensor.  Hence the excess energy of the intermediate boson must come from somewhere, and apparently the only possibility is the vacuum.
<p>

	That is, in order for a weak interaction to occur, there must first be an interaction between the reactant(s) and the vacuum, that induces the Higgs curvature to coalesce into the form of a W or Z boson.  But we know that the fermions themselves, such as nucleons, are stable over fairly long time periods.  That might indicate that what ultimately triggers a slow weak process is an inhomogeneity - a little wave - in the vacuum, which, when it passes close enough to the fermion and has enough energy (in accordance with the particular process), becomes amplified through their nonlinear interaction, and beyond a certain point it “descends” into the metastable state of the weak boson.
<p>

	Of course, since the weak and Higgs boson masses are comparable, the Higgs boson itself might be one such candidate for conversion by a fermion into a weak boson, in the rare event that it passed by.  So the weak bosons themselves may be modified forms of the Higgs boson, complete with its singularity.