<span class="section-title">Internal Spin</span>

Thus charge may be based on the looping of space, and it is quantized because, for the manifold to be complete, there can be no partial loops.  The charge of one loop is the elementary charge, and it manifests to us as a compensating twist of space.
<p>

	Spin is also quantized.  The concept of spin is a rotation of mass over time; alternatively, we can think of it as a twisting of matter about the time direction, in a given spatial plane (see figure below).  So in this model, spin could arise from the looping of timelike geodesics, with Planck’s constant the associated topological invariant.
<p>


<div id="fig:spin_twist" class="figure">
<image src="{{=URL('static','spacetime/images/Angular_Momentum_Twist.jpg')}}"></image>
<div class="figure-caption">
    Spin angular momentum is a twisting of mass about the time axis.
</div>
</div>

Until now we had only considered the curvature in the 3-space of the particle’s rest frame.  But by continuity, it would make most sense if all directions of spacetime participate in the singularity and the loop structure.  And as long as we are considering time evolution, it would also be most natural if there is a singularity at each instant, together forming the worldline.
<p>

	That means a geodesic that enters the singularity at one instant, may exit at another; we can call that time difference the period of the geodesic. The spatial geodesics might have zero period, with the period increasing as the direction approaches time, though it wouldn’t have to be this way.
<p>

	A schematic representation could be like this:
<p>


<div id="fig:electron_time_loop" class="figure">
<image src="{{=URL('static','spacetime/images/Electron_Time_Loop.jpg')}}"></image>
<div class="figure-caption">
    A timelike geodesic (blue) traversing the spatial cross-sections (red) of the electron
</div>
</div>

Here the red loops are the spatial cross sections, and the blue curve is a timelike geodesic, with the green dots showing their intersections.  If the Ricci curvature along time is also negative at the singularity, then all directions of spacetime will be momentarily parallel, ie. it will be a “neck pinch” of all spacetime.  In other words, the blue geodesic is actually parallel to both the worldline and the red loop where they meet, though this cannot be drawn on flat paper.

<!--<p>

	The neutrino would then look like this:
<p>


<div id="fig:neutrino_time_loop" class="figure">
<image src="{{=URL('static','spacetime/images/Neutrino_Time_Loop.jpg')}}"></image>
<div class="figure-caption">
    A timelike geodesic (blue) traversing the spatial cross-sections (red) of the neutrino
</div>
</div>

This picture may suggest conceptually why the neutrino has the same spin (“time charge”) as the electron despite having zero electric (“spatial”) charge.  Each of the two spatial loops is a full 360 degree turn, so that if we follow for instance a +z geodesic along the loop, it ends in the +z direction.  But imagine following the blue time geodesic from its upper right endpoint in the diagram.  It is initially moving forward in time; after it passes through the singularity, it moves uniformly backward in time as it traverses the two spatial loops.  Only when it exits through the left-most singularity does it move forward again.  So apparently, time only executes a single loop in any elementary fermion, thus giving them all the same topologically invariant spin.
-->

<p>

	As we move along a radial geodesic, the curvature twists in the tangential plane.  Because the wave equation ensures that the spatial variation of curvature matches the time variation, the twist over time should occur in that same plane.  Therefore, the spatial axis about which mass rotates (the spin axis) should be the same as the axis of the spatial loop.
<p>
    Note that, though the quarks have only fractions of the electron charge, they can have the same spin, because, since there is only one dimension of time,
    any time loop will be complete, not partial.  In fact, by continuity, timelike geodesics in a baryon might have to travel from one quark to another, just
    as their spatial counterparts do, so that spin, like charge, is first and foremost a property of a loop segment rather than a quark.
<p>
    As with charge, the presence of a timelike loop does not imply that angular momentum is its topological invariant, assuming it has any.  Here we are simply
    hoping that could turn out be the explanation for the quantization of angular momentum.
<p>
    In particular, whereas earlier we discussed the twisting of the Ricci tensor, this quantity does not correspond to angular momentum.  Angular momentum
    requires a point -- in this case, probably the center of the loop -- and a direction, which we are supposing is the loop axis.  Then the mass at some radius
    from that point must have a velocity orthogonal to the radius, and so on.  In a pure spacetime theory, the concept of mass is effectively replaced by
    curvature per the Einstein tensor, as will be discussed further in the section on mass.  And the velocity of such a mass element is the velocity of the
    reference frame which diagonalizes the curvature tensor.  So these are the quantities we must integrate to find angular momentum.
<p>
    Again, without finding an explicit solution, this reduces to our conviction that the loop induces spacetime to twist in the most real sense possible,
    and that as a result, the mathematical quantities that correspond to twisting behavior arise.  Namely, not only does the curvature tensor twist
    along a radial geodesic, but the curvature field as a whole twists about the loop axis over time, and its eigen-frames carry the velocity field
    that describes this rotation.
<p>
    If it is only the charged fermions that are made of loops, and spin is quantized only because of these loops, this would apparently imply that bosons
    and neutrinos get their spin from the charged fermions that spawn them.  If these particles are soliton waves, it begs the question whether a neutrino
    or boson could in principle be stable with a spin other than Planck's constant.  If there were such particles, presumably they could not interact with
    charged fermions through the known reactions of particle physics, since their spins would not be compatible.  But since they would still affect
    spacetime curvature, they should still cause deflections of some kind.  If we have not observed such deflections, it could means they are either too
    slight, or there are no particles with non-Planck spin, and that in turn would suggest that all bosons are generated by charged fermions.



