<span class="section-title">Mesons, and Quark Generations</span>

One of the simplest mesons is the charged pion consisting of an up quark and an anti-down quark, or down/anti-up:

<div id="fig:positive_pion" class="figure">
<image width=30% src="{{=URL('static','spacetime/images/Positive_Pion.jpg')}}"></image>
<div class="figure-caption">
    The positively charged pion
</div>
</div>

In the picture, the dashed part of the curve shows how much of the turn is associated with the anti-down quark - only 120 degrees.  The reason the turn is not distributed evenly between the quarks may be that this particle was formed from a proton or neutron containing only up and down quarks, so its constitution during its short lifetime mirrors that of the nucleon.
<p>

	There are many other mesons.  For the most part, any flavor combination is possible.  But it is notable that there is no pure up/anti-up or down/anti-down meson; there are only superpositions of those two combinations.
<p>

	According to the loop model, a down/anti-down meson should not be possible anyway, because a pair of 120 degree turns cannot form a full loop.  The up/anti-up meson could in principle exist.  The situation looks like this:
<p>


<div id="fig:forbidden_mesons" class="figure">
<image width=35% src="{{=URL('static','spacetime/images/Forbidden_Mesons.jpg')}}"></image>
<div class="figure-caption">
    A down/anti-down pair cannot complete a full loop, while an up/anti-up can in principle.  The separation of loop segments has been omitted here; only the total turn is shown.
</div>
</div>

It’s not clear in the context of this model exactly what a superposition of these states means, but at least it is reassuring that the down/anti-down does not exist in a pure state.
<p>

	But what is odd is that the strange/anti-strange meson, called the phi meson, does exist.  It is still technically a superposition, but it is very nearly a pure state.
<p>

	That is disconcerting because the strange quark is the second-generation version of the down quark.  Hence, it has a charge of $\frac13 e$, so it would seem it should still have a turn of 120 degrees.  A pair of these particles should be forbidden.
<p>

	But the strange quark is second-generation, so it is somehow fundamentally different from the down quark.  The fact that there is a discrete jump from first to second generation suggests the presence of an additional singularity and/or an additional loop.
<p>

	If we add a loop, we are adding 360 degrees of turn.  But if the sense of the loop is opposite that of the original particle, we are subtracting 360 degrees.  So if we add a countersense loop to a down quark, we would have a turn magnitude of (360 - 120) = 240 degrees - no longer \(\frac13 e\).  To arrive at 120 degrees by appending a countersense loop, we have to start with an up quark instead:
<p>


<div id="fig:strange_quark" class="figure">
<image width=60% src="{{=URL('static','spacetime/images/Strange_Quark_Phi_Meson.jpg')}}"></image>
<div class="figure-caption">
    If we add a countersense loop to an up quark, it has a net turn magnitude of |240 - 360| = 120 degrees; this could be the strange quark.  A strange/anti-strange pair is called a phi meson.  The color coding shows that the extra 360 degree turn only applies to one of the loop segments, and in turn, only one of the half-spaces of the quark.
</div>
</div>

This appears to resolve the phi meson.  Each quark has a net 120 degree turn, but the parts that connect to each other have 240 degrees, so that a pair of them can form a full loop.
<p>

	Note that the extra loop belongs to one of the original loop segments or the other, not both.  That is, if we call the quark half-spaces Q1 and Q2, and append the extra loop to Q1, that means a geodesic that would have passed from the loop segment into Q1, now traverses the extra loop first.  But the same is not true of a Q2 geodesic; in order to say the same for Q2, we would require another extra loop.  But that would add another 360 degree turn, or 720 total, which would not give the correct charge value.
<p>

	In principle, the additional loop need not be anchored to the same singularity as the quark itself.  Perhaps the singularity and loop could be part way along one of the loop segments.  And in that case, perhaps the extra turn could even exist without a singularity.  The singularity would seem to be required in order to stabilize the particle, but these particles do have short half-lives.
That being said, it seems most intuitive that the extra loop should spring from a singularity just as the others do, and that it should therefore use the existing one at the quark.  After all, it is theoretically associated only with one quark.  Then the rule seems to be that an extra loop can be created at an existing singularity by an appropriate input of energy, but the loop that is formed will itself be of the lowest-energy variety, that is, its sense will be that which minimizes the charge magnitude of the resultant particle.
<p>

	This suggests the form of the higher order quarks.  The charm quark, which can also pair with its antiparticle, has the charge of an up quark.  We can achieve that by attaching two extra loops to one of the original loop segments.  The second extra loop is countersense to the first, canceling its charge.  To form a bottom quark, we add a third extra loop.  Each time we add another loop, the charge flips between that of an up quark and that of a down quark.
<p>


<div id="fig:higher_quarks" class="figure">
<image width=60% src="{{=URL('static','spacetime/images/Higher_Quarks.jpg')}}"></image>
<div class="figure-caption">
    With each new loop added to a given segment, we are either adding or subtracting the elementary charge unit.
</div>
</div>

The known decay pattern of quarks is as follows: top decays to bottom, bottom to charm, charm to strange, and strange to up.  This fits the model, if we suppose that when a quark decays, it is effectively shedding one loop.
<p>

	Since all higher quarks are up quarks with additional loops attached, their unattached segments always form a 240 degree turn.  Hence, such a quark can in principle form a meson with any other type of quark, including a 120 degree down quark.
<p>

	There is no apparent reason this sequence should be limited, so it is not clear why a fourth generation would not have been observed.