<span class="section-title">The Planck-Einstein-de Broglie Relation</span>

Per the Planck-Einstein-de Broglie relation, mass of a particle is proportional to the frequency of its matter wave.  First, as Batty-Pratt and Racey do, let’s identify that frequency with the spin frequency {{cite('battypratt_racey',True)}}.  Now, as an approximation, consider the classical formula for spin:

\begin{equation*}
	L_s = I\omega = mr_{eff}^2\omega
\end{equation*}

with \(r_{eff}\) the characteristic radius at which all the mass could be concentrated to give the same rotational inertia.  Since spin is the same for all fermions, for mass and frequency to be proportional, \(r_{eff}\) has to be inversely proportional to these.  That is, \(r_{eff}\) must be proportional to the period.
<p>

	But, if the general form of the spin field is the same for different particles, then the wave equation should already enforce this relationship.  The spatial variation is proportional to the time variation, so radius and period will be proportional.  Another way to see this is to consider that, although the local velocity of propagation varies widely throughout the spin field, the wave equation implies that its maximum velocity should be that of light, and it should occur at some critical radius.  When we scale the spin field, we scale its speed-of-light radius, so the period at that radius, and hence the period of the whole field, scales by the same factor.
<p>

	So if angular momentum is a topological invariant, the wave equation may be enough to ensure that the Planck-Einstein relation is obeyed.