<span class="section-title">Riemannian Concepts</span>

There are just a few more concepts from Riemannian geometry that will be used qualitatively in what follows.  They are all ultimately derived from the
metric, as this determines the entire manifold, so there are sophisticated equations to describe them, but this paper won't pretend to be heavily
mathematical, so they are described below in conceptual terms.  These descriptions are not necessarily the most direct mathematical approaches to these
concepts but I find them easier to understand.

<p>
<span class="subsection">Tangent Vectors</span>

In a real 2D surface, we saw how tangent vectors such as \(\frac{\partial \vec r}{\partial x}\) were visibly tangent to the surface.  But if the surface was curved, the only
tangent vectors that could directly be used to describe paths and areas were infinitesimal ones, \(d\vec r\).  The same idea generalizes to intrinsic
manifolds, except instead of having \(\vec r\) vectors, all we have are the coordinates.  So if we have a path parametrized by \(t\), we can say it has an
abstract tangent vector \((\frac{\partial x}{\partial t}, \frac{\partial y}{\partial t})\), and we can use the metric to take the generalized dot product of two such vectors,
which is given the new name "inner product" for manifolds.  But again, we can't calculate a true property of the manifold without scaling these vector quantities by \(dt\)'s and integrating.
<p>
In particular, we can define a "unit vector" as a tangent vector whose metric is equal to \(\pm 1\).

<span class="subsection">Orthogonality</span>

Remember that the metric for surfaces is just a shorthand for the dot product, and two vectors are perpendicular when their dot product is zero.
So even when we generalize it to allow hyperbolic spacetime, we can still say vectors with zero metric are orthogonal.

$$g(\vec u, \vec v) = 0 \rightarrow \vec u, \, \vec v \quad orthogonal$$

According to the relativistic model of space and time measurements described in the last section, this turns out to have the consequence that the path an observer perceives as
space (simultaneous) is orthogonal to that observer's trajectory (time axis).
<p>
Orthogonal path elements at a point can be multiplied to give a generalized area, which may be a spatial area or a spacetime area.  From this we can
build up to 3D volumes and 4D hypervolumes.  There are much more efficient formulas in terms of the metric, but this is the idea.

<span class="subsection">Geodesics</span>

A geodesic is the extremal -- shortest or longest -- path between two points.  It is a local extremum, in the sense that it is extremal only with
respect to infinitesimal variations of the path.

<div class="figure">
<image width=70% src="{{=URL('static','spacetime/images/motivation/geodesic.jpg')}}"></image>
<div class="figure-caption">
    A geodesic (blue curve) is extremal relative to all possible infinitesimal variations of it (yellow curves) that have the same endpoints.
</div>
</div>

As long as the manifold is smooth, ie. the metric is smooth with respect to the coordinates, then the geodesics will be described by smooth coordinate
paths as well.
<p>
A segment \(S\) of a geodesic \(G\) is also a geodesic in its own right.  If \(S\)'s interval weren't extremal, we could vary the path so as to make it extremal, and
in doing so we would be varying \(G\)'s interval in the same way -- meaning \(G\) wasn't really extremal in the first place.  So for \(G\) to be a geodesic,
\(S\) must as well.

<div class="figure">
<image width=70% src="{{=URL('static','spacetime/images/motivation/geodesic_segment.jpg')}}"></image>
<div class="figure-caption">
    Since the red segment's length is part of the blue segment's length, it must be extremal itself in order for the whole path to be.
</div>
</div>

Something that might not be as obvious is that, almost always, a geodesic can be completely determined by specifying a point and a direction at that point.
This is the generalization of Euclid's axiom that a point and direction define a straight line.  But one exception to this for manifolds is a "neck-pinch singularity",
like a cylinder that is squeezed down to a single point somewhere in the middle:

<div class="figure">
<image width=50% src="{{=URL('static','spacetime/images/motivation/neck_pinch.jpg')}}"></image>
<div class="figure-caption">
    At the singularity where these geodesics meet, they all momentarily have the same direction, so we cannot say that a point and direction uniquely determine a single geodesic.
</div>
</div>

This type of singularity is the structure that will be suggested here as the model of a particle.

<span class="subsection">Levi-Civita Connection</span>

This is the generalization of the notion of parallel lines.  Start with a point \(p\) and direction, ie. a unit tangent vector \(\vec u\), thus giving us a geodesic \(G\).  Move an infinitesimal amount in any
direction to point \(q\).  What vector \(\vec u\) at \(q\) is parallel to \(\vec v\)?
<p>
In Euclidean space, two parallel lines always maintain the same distance between them; put another way, all derivatives of the distance between them are zero.
<p>
We can't guarantee that in curved space, because straight lines can accelerate relative to each other, but here's what we can do.  Given a geodesic \(H\) at \(q\), we can measure its distance from \(p\), along a geodesic orthogonal to \(G\).
Then we can measure the derivatives of that distance with respect to distance along \(H\).
<p>
Just as in Euclidean space, there will be a whole plane of geodesics at \(q\) whose first derivative is zero (the "plane parallel to \(G\)").  From among those, we
choose the geodesic whose <i>second</i> derivative is minimum.  This is the geodesic that "hugs most tightly to \(G\)", hence locally parallel to it.

<div class="figure">
<image width=80% src="{{=URL('static','spacetime/images/motivation/levi_civita.jpg')}}"></image>
<div class="figure-caption">
    Left: Of all geodesics through \(q\), we first select those whose first derivative of distance from \(G\) is zero -- those that lie in the blue plane.
    Right: Of these, we pick the one whose second derivative is minimum.  Distance is measured along perpendiculars to \(G\).
</div>
</div>

We can repeat this process for each infinitesimal piece of any finite path \(S\).  But thanks to curvature, the result will generally depend not only on the endpoints, but
on the path itself.  Thus we say that <i>\(\vec v\) is the parallel transport of \(\vec u\) from \(p\) to \(q\) along \(S\)</i>.
<p>
There are other "connections" that transport vectors at one point to those at another.  But the Levi-Civita connection is considered the most natural one, because it preserves
these aspects of the concept of parallel lines.

<span class="subsection">Ricci, Scalar, and Einstein Curvature</span>

Remember that geodesics accelerate towards or away from each other on curved surfaces.  We can describe this more precisely for a given surface by quantifying how much it happens
in the infinitesimal neighborhood of a given point in a certain direction.
<p>
First we take a "cone" of geodesics from point \(p\), within a small angular range of a central geodesic \(G\), whose direction is \(\vec u\).

<div class="figure">
<image width=50% src="{{=URL('static','spacetime/images/motivation/ricci_curvature.jpg')}}"></image>
<div class="figure-caption">
    Ricci curvature measures how the expansion of the cone with length of \(G\) accelerates, in the limit as the cone dimensions shrink to zero.  Here the surface is 2D, so the volume is really an area.
</div>
</div>

In Euclidean space, we know how the volume \(V\) of the cone would vary with the length, \(\tau\), of \(G\).  The effect of the curvature is to alter this variation.  So we take the
ratio of the cone's volume at each \(\tau\) to the corresponding Euclidean volume at \(\tau\).  Then we take the acceleration (second derivative) of that ratio over \(\tau\).
And to get the value for a single direction, we take the limit as the angle (or equivalently volume) shrinks to zero.

$$Ric(\vec u, \vec u) \quad \propto \quad \lim_{V \to 0} (-\frac{\partial^2}{\partial \tau^2} \, \frac{V}{V_{euclidean}})$$

The minus sign is a convention: we call curvature positive when geodesics converge, ie. the cone contracts, and negative when they diverge.
<p>
The same thing works in spacetime: if \(G\) is timelike, just replace length with time.  Also, the cone is specified not only by relative angle but relative speed as well.
<p>
This kind of curvature is probably the most intuitive, though there is a more general quantity called Riemann curvature from which the Ricci curvature can be derived.
<p>
Interestingly, Ricci curvature at a point is a quadratic form, just like the metric, which is why \(\vec u\) is plugged in twice in the above equation.

$$Ric(\vec u, \vec v) = \begin{pmatrix} u_x & u_y \end{pmatrix} \begin{pmatrix} R_{xx} & R_{xy} \\ R_{xy} & R_{yy} \end{pmatrix} \begin{pmatrix} u_x \\ u_y \end{pmatrix}$$

Basically, this just expresses the notion that the manifold, in analogy with a surface, is "locally linear" -- so any quantity based on an infinitesimal part of it should be
linear in the coordinates.  And since the Ricci curvature is a second derivative, it is second-order in the coordinates.  But the geometric meaning of the Ricci value of two different vectors is not really clear.
<p>
Being a symmetric matrix has the consequence that the Ricci tensor has four orthogonal unit "eigenvectors", one for each dimension of spacetime; each one has an "eigenvalue",
which is the curvature along the eigenvector direction.  The eigenvectors have the locally extremal curvatures with respect to direction.

<div class="figure">
<image width=50% src="{{=URL('static','spacetime/images/motivation/ricci_eigenvectors.jpg')}}"></image>
<div class="figure-caption">
    A schematic of the 3 spatial eigenvectors of the Ricci tensor at each point in the manifold.  They are always orthogonal, but may have different
    eigenvalues (represented here by drawing them with different lengths, though by convention we always refer to the <i>unit</i> eigenvectors).
    In spacetime there is an additional timelike eigenvector.
</div>
</div>

The metric also has this property, but because the metric simply measures interval, it turns out that <i>all</i> unit vectors are its eigenvectors,
with eigenvalue of \(\pm 1\) depending on whether they are spacelike or timelike.

<div class="figure">
<image width=35% src="{{=URL('static','spacetime/images/motivation/isotropic_tensor_spacetime.jpg')}}"></image>
<image width=35% src="{{=URL('static','spacetime/images/motivation/isotropic_tensor_spatial.jpg')}}"></image>
<div class="figure-caption">
    By definition, the metric has the same value along all unit vectors of spacetime, except the sign of spacelike and timelike directions are opposite,
    indicated by the color switch.
</div>
</div>

Whereas, since the Ricci tensor measures, not interval, but rate of curvature <i>with respect to</i> interval, it can vary with direction, giving it four well-defined eigenvectors with distinct eigenvalues.
<p>
But note that, if the Ricci tensor is "degenerate" such that there is no variation with direction, it will still have a
sign flip between spacelike and timelike directions, just like the metric, as in the picture above.  This happens when the Ricci tensor
is just a multiple of the metric tensor.  And this is the kind of curvature we associate with
"dark energy": the spacelike curvature is isotropically positive, and the timelike curvature isotropically negative.  So timelike geodesics accelerate
away from each other, meaning the expansion of the universe is accelerating.  And because spacelike geodesics converge, as they
do on a sphere, space may form a closed surface; hence it is said that the universe may be closed.
<p>
When the Ricci curvature is "isotropic" like this, we can specify it by a single scalar, so we call that the "scalar curvature", \(R\).
<p>
When Ricci curvature varies by direction, we can only come up with a representative scalar by averaging over all spacetime directions.  Specifically, we
average the eigenvalues over the four eigenvectors.  But when we take this average, we still respect the sign flip between space and time.  That is,
when we use the eigenvectors as our coordinate axes,

$$R = -R_{tt} + R_{xx} + R_{yy} + R_{zz}$$.

When Einstein was trying to figure out how matter induces curvature, he knew conservation of energy and momentum still had to be respected, meaning the
associated curvature had to persist over time.  Because spacetime now had a unified geometry, it turned out this was equivalent to the statement that the
"spacetime divergence" of the curvature -- the flux of its components through an infinitesimal spacetime hypersurface -- had to be zero.  And Einstein managed
to find a kind of curvature form that had this property <i>identically</i> in <i>any</i> Riemannian manifold, now called the Einstein tensor:

$$G_{\mu\nu} = R_{\mu\nu} - \frac12 \, R \, g_{\mu\nu}$$

That is, it is a combination of the Ricci tensor, the scalar curvature, and the metric tensor.  The Greek subscripts stand for any axis of spacetime.
<p>
The Einstein curvature is not as intuitive as the Ricci, but it does have an interesting interpretation.  Basically, the Ricci tensor (actually any symmetric tensor) can be expressed
as the sum of an "isotropic" curvature, like dark energy, and a curvature whose associated scalar is zero, though its directional components may not be.  Then, the
Einstein curvature turns out to be the Ricci curvature with the sign of its isotropic part flipped.

<span class="subsection">Sectional Curvature</span>

Sectional curvature is 2D curvature.  On a 2D surface, we can still calculate the directional Ricci curvatures at a point, replacing volume with area.  But it
turns out that they will be the same in all directions.  So all we need is the scalar curvature, also called the Gaussian curvature.
<p>
In 3D or higher, we can pick a point \(p\) and two of its tangent vectors \(\vec u\) and \(\vec v\).  Then we can make all linear combinations of those tangent vectors, forming a "plane".
And we can consider the geodesics along all vectors in the plane.  This is called a section.  It forms a 2D Riemannian manifold, so again, we only
need the scalar curvature to describe it.  That is called the sectional curvature at \(p\) in the \(uv\)-plane.






