<span class="section-title">Spin Interaction</span>

Although it is inherently three-dimensional, the "spherically rotating" spin field referenced above is still substantially like a fluid vortex, since it involves rotation of a continuum about a specific axis, which is more pronounced near the axis.  And since the wave equation can in general describe fluid flow, we can expect that two fermions in close proximity will prefer to have opposite spins, just like fluid vortices.
<p>

	In particular, the wave equation tends to ease local curvature excesses and distortions (anisotropies) when possible.  When two particles have their spin vectors aligned, their angular momenta add.  If the radial distribution of their external mass remains more or less the same as for a single particle, this means their combined waveform must generally have higher curvature.  And if they are not bound, so that they are free to translate or rotate relative to one another, the wave equation will tend to force them either to anti-align or to move apart so as to reduce that effect.
<p>

	For example, if the spin vectors are perpendicular to the displacement between the particles, the resulting flow might look qualitatively similar to that sketched below.  The flow of mass is aligned in the small space between them, while mostly canceling out in the larger surrounding space, and the particles will tend to move together to eliminate the intervening curvature even more completely.
<p>


<div id="fig:spin_pair" class="figure">
<image width=50% src="{{=URL('static','spacetime/images/Spin_Up_Spin_Down_Pair.jpg')}}"></image>
<div class="figure-caption">
    If the spin vectors (into and out of the page) are perpendicular to the line between the particles (dashed black line), what curvature there is will be mostly confined to the small space between them.  Then the particles will tend to move together to minimize this even further.
</div>
</div>

Then there is the question of the interaction of spin with magnetic fields.  In the Stern-Gerlach experiment, particles were deflected as if they all entered the measurement field with spins either aligned or anti-aligned with the field.  But per the spin model above, the spins of a random collection of particles will be along a random distribution of axes.  This suggests that, as particles enter the field, they very quickly align or anti-align with it, in a time much shorter than it takes them to be deflected.  And if they align or anti-align with equal probability, that indicates that they always rotate through the shortest possible angle, so that the sign of their original component determines whether they end up aligning or anti-aligning:
<p>


<div id="fig:spin_measurement" class="figure">
<image width=60% src="{{=URL('static','spacetime/images/Spin_Measurement.jpg')}}"></image>
<div class="figure-caption">
    A reinterpretation of the Stern-Gerlach experiment (inhomogeneous magnetic field not shown)
</div>
</div>

The details of the interaction would of course require an understanding of the curvature corresponding to a magnetic field, which will not be pursued here.  However, this would imply that the spin we measure in experiments is not a component, but rather the full spin of the particle.
<p>

	Note that the two points addressed above - the alignment of spins with macroscopic fields during measurement, and the anti-alignment of spins between particles near each other - may be related.  If two spinning fields are more stable when they are anti-aligned, and that interaction is so strong that according to our experiments they cannot exist in close proximity with aligned spins, that suggests that the interaction of spin with dynamic external fields in general, whether electromagnetic fields or the spinning curvature fields of other particles, is a very dominant effect which stabilizes itself over very short time scales.  Perhaps that time scale is related to the spin period itself.