<span class="section-title">The Wave Equation</span>

{{

import json
import pprint
import re

class Index:
    def __init__(self, expr, type, v=None):
        self.expr = expr
        self.type = type
        self.val = v
        pass

    def get(self):
        return self.val

    def set(self, v):
        self.val = v
        pass

    pass


class Expression:
    def __init__(self, *children):
        self.ind = []
        self.children = []
        self.isInverse = False
        self.addChildren(*children);
        pass

    def addIndex(self, type, i=None):
        if i is None:
            i = Index(self, type)
        elif isinstance(i, str):
            i = Index(self, type, i)
            pass
        self.ind.append(i)
        return i

    def addUpperIndex(self, i):
        return self.addIndex('upper', i)

    def addLowerIndex(self, i):
        return self.addIndex('lower', i)

    def addSummedIndex(self):
        return self.addIndex('summed')

    def addChild(self, child):
        self.children.append(child)
        pass

    def takeIndices(self, exp, **kwargs):
        includeSummed = 'summed' in kwargs and kwargs['summed']
        owner = 'owner' not in kwargs or kwargs['owner']
        for i in exp.ind:
            if i.type != 'summed' or includeSummed:
                if owner:
                    if i.expr == exp:
                        i.expr = self
                        self.ind.append(i)
                        pass
                else:
                    self.ind.append(i)
                    pass
                pass
            pass
        pass

    def replaceIndex(self, i, j):
        for a,ind in enumerate(self.ind):
            if ind is i:
                self.ind[a] = j
                pass
            pass
        return self

    def replaceIndices(self, exp, newInd=None, root=None):
        newInd = newInd or [None for i in range(len(exp.ind))]
        root = root or self
        for child in self.children:
            if isinstance(child, Expression):
                child.replaceIndices(exp, newInd, root)
                pass
            pass
        for i,oldInd in enumerate(exp.ind):
            if oldInd.type != 'summed':
                continue
            found = False
            for j,myInd in enumerate(self.ind):
                if myInd is oldInd:
                    if newInd[i] is None:
                        newInd[i] = Index(root, oldInd.type, oldInd.val)
                        pass
                    self.ind[j] = newInd[i]
                    found = True
                    pass
                pass
            if self is root and newInd[i] and not found:
                self.ind.append(newInd[i])
                pass
            pass
        pass

    def addChildren(self, *children):
        for child in children:
            self.children.append(child)
            pass
        pass

    def removeChild(self, child):
        self.children.remove(child)
        pass

    def replaceChild(self, child, newChild):
        for i,c in enumerate(self.children):
            if c is child:
                self.children[i] = newChild
                pass
            pass
        pass

    def inverse(self):
        self.isInverse = not self.isInverse
        return self

    def clone(self, **kwargs):
        copy = self.__class__()
        copy.isInverse = self.isInverse
        copy.ind = [i for i in self.ind]
        copy.children = [(child.clone() if isinstance(child, Expression) else child) for child in self.children]
        return copy

    def printInd(self, i):
        return '!' if len(self.ind) <= i else self.ind[i].get() or '?'

    def symbol(self):
        return '(UNKNOWN SYMBOL)'

    def maxIndex(self):
        maxInd = 0
        for i in self.ind:
            if i.expr == self and i.type != 'summed' and ord(i.val) > maxInd:
                maxInd = ord(i.val)
                pass
            pass
        for child in self.children:
            if isinstance(child, Expression):
                childMax = child.maxIndex()
                if childMax > maxInd:
                    maxInd = childMax
                    pass
                pass
            pass
        return maxInd

    def assignIndices(self, nextInd=None):
        if nextInd is None:
            nextInd = max(self.maxIndex()+1, 97)
            pass
        for i in self.ind:
            if i.expr == self and i.type == 'summed':
                i.set(chr(nextInd))
                nextInd += 1
                pass
            pass
        for child in self.children:
            if isinstance(child, Expression):
                child.assignIndices(nextInd)
                pass
            pass
        pass

    def display(self):
        self.assignIndices()
        text = self.symbol()
        newText = ''
        offset = 0
        openParen = 0
        for m in re.finditer('\(|\)|\s\+\s|\s\-\s', text):
            if text[m.start()] == '(':
                openParen += 1
            elif text[m.start()] == ')':
                openParen -= 1
                pass
            if text[m.start()] == ' ' and openParen == 0 and m.start() > offset + 50:
                if len(newText) > 0:
                    #newText += ' \\\\ '
                    pass
                newText += ' \\( ' + text[offset:m.start()+1] + ' \\) '
                offset = m.start()+1
                pass
            pass
        newText += ' \\( ' + text[offset:] + ' \\) '
        #newText = '\\displaylines{' + newText + '}'
        #newText = '\\begin{align} ' + newText + ' \\end{align}'
        return newText

    pass


class Sum(Expression):
    def __init__(self, *operands):
        Expression.__init__(self, *operands)
        pass

    def symbol(self):
        ret = ''
        for operand in self.children:
            if ret != '' and isinstance(operand, Expression):
                ret += ' - ' if operand.isInverse else ' + '
                pass
            ret += operand if isinstance(operand, str) else operand.symbol()
            pass
        return ret

    pass


class Product(Expression):
    def __init__(self, *operands):
        Expression.__init__(self, *operands)
        pass

    def symbol(self):
        ret = ''
        for operand in self.children:
            if isinstance(operand, str):
                f = operand
            else:
                f = operand.symbol()
                if isinstance(operand, Sum) or isinstance(operand, Partial):
                    f = '(' + f + ')'
                    pass
                pass
            ret += f
            pass
        return ret

    pass


class Partial(Expression):
    def __init__(self, *args):
        Expression.__init__(self)
        if len(args) > 1:
            self.addLowerIndex(args[0])
            self.addChild(args[1])
            pass
        pass

    def symbol(self):
        func = self.children[0]
        if isinstance(func, str):
            f = func
        else:
            f = func.symbol()
            if isinstance(func, Product) or isinstance(func, Sum):
                f = '(' + f + ')'
                pass
            pass
        return '\partial_{' + self.printInd(0) + '}{' + f + '}'

    pass


class Metric(Expression):
    def __init__(self, *args):
        Expression.__init__(self)
        if len(args) > 2:
            self.isInverse = True if args[2] else False
            pass
        if len(args) > 1:
            type = 'upper' if self.isInverse else 'lower'
            self.addIndex(type, args[0])
            self.addIndex(type, args[1])
            pass
        pass

    def symbol(self):
        sep = '^' if self.isInverse else '_'
        return 'g' + sep + '{' + self.printInd(0) + self.printInd(1) + '}'

    pass


class Connection(Product):
    def __init__(self, *args):
        Product.__init__(self)
        if len(args) > 2:
            a = self.addUpperIndex(args[0])
            b = self.addLowerIndex(args[1])
            c = self.addLowerIndex(args[2])
            d = self.addSummedIndex()
            self.addChildren(Metric(a, d, True), Sum(Partial(c, Metric(d, b)), Partial(b, Metric(d, c)), Partial(d, Metric(b, c)).inverse()))
            pass
        pass

    def symbol(self, short=False):
        if short:
            return '{\Gamma^' + self.printInd(0) + '}_{' + self.printInd(1) + self.printInd(2) + '}'
        else:
            return Product.symbol(self)
        pass

    pass


class Riemann(Sum):
    def __init__(self, *args):
        Sum.__init__(self)
        if len(args) > 3:
            a = self.addUpperIndex(args[0])
            b = self.addLowerIndex(args[1])
            c = self.addLowerIndex(args[2])
            d = self.addLowerIndex(args[3])
            e = self.addSummedIndex()
            self.addChildren(Partial(c, Connection(a, d, b)), Partial(d, Connection(a, c, b)).inverse(), \
                Product(Connection(a, c, e), Connection(e, d, b)), Product(Connection(a, d, e), Connection(e, c, b)).inverse())
            pass
        pass

    def symbol(self, short=False):
        if short:
            return '{R^' + self.printInd(0) + '}_{' + self.printInd(1) + self.printInd(2) + self.printInd(3) + '}'
        else:
            return Sum.symbol(self)
        pass

    pass


class CovariantDerivative(Sum):
    def __init__(self, *args):
        Sum.__init__(self)
        if len(args) > 1:
            a = self.addLowerIndex(args[0])
            self.func = args[1]
            self.addChild(Partial(a, self.func))
            if isinstance(self.func, Expression):
                c = self.addSummedIndex()
                for i in self.func.ind:
                    if i.expr == self.func:
                        if i.type == 'upper':
                            self.addChild(Product(Connection(i, c, a), self.func.clone().replaceIndex(i, c)))
                        elif i.type == 'lower':
                            self.addChild(Product(Connection(c, i, a), self.func.clone().replaceIndex(i, c)).inverse())
                            pass
                        pass
                    pass
                pass
            pass
        pass

    def symbol(self, short=False):
        if short:
            return '\nabla_{' + self.printIndex(0) + '}{' + self.children[0].symbol() + '}'
        else:
            return Sum.symbol(self)
        pass

    pass


class Laplacian(Product):
    def __init__(self, *args):
        Product.__init__(self)
        if len(args) > 0:
            self.func = args[0]
            a = self.addSummedIndex()
            b = self.addSummedIndex()
            c = self.addSummedIndex()
            self.addChild(Metric(a, b, True))
            self.addChild(Sum(CovariantDerivative(a, CovariantDerivative(b, self.func)), \
                Product(Connection(c, a, b), CovariantDerivative(c, self.func)).inverse()))
            pass
        pass

    def symbol(self, short=False):
        if short:
            return '\Box{' + self.func.symbol() + '}'
        else:
            return Product.symbol(self)
        pass

    pass


def distribute(exp):

    if not isinstance(exp, Expression):
        return exp

    dist = exp

    children = [child for child in exp.children]
    for child in children:
        childDist = distribute(child)
        if childDist is not child:
            exp.replaceChild(child, childDist)
            pass
        pass

    children = [child for child in exp.children]
    sums = []
    other = []
    for child in children:
        if (isinstance(child, Sum) and isinstance(exp, Sum)) or (isinstance(child, Product) and isinstance(exp, Product)):
            for operand in child.children:
                if isinstance(operand, Expression):
                    operand.isInverse = child.isInverse != operand.isInverse
                    pass
                exp.addChild(operand)
                pass
            exp.takeIndices(child, summed=True)
            exp.removeChild(child)
        elif isinstance(exp, Partial) or isinstance(exp, Product):
            if isinstance(child, Sum):
                sums.append(child)
            else:
                other.append(child)
                pass
            pass
        pass

    if len(sums) > 0:

        dist = Sum()
        dist.isInverse = exp.isInverse
        dist.takeIndices(exp)

        def newOp(indices):
            op = exp.__class__()
            op.takeIndices(exp, owner=False)
            for operand in other:
                op.addChild(operand)
                pass
            for i,sum in enumerate(sums):
                dist.takeIndices(sum)
                operand = sum.children[indices[i]]
                op.addChild(operand)
                if operand.isInverse:
                    op.isInverse = not op.isInverse
                    pass
                op.replaceIndices(sum)
                pass
            op.replaceIndices(exp)
            dist.addChild(op)
            pass

        lengths = [len(sum.children) for sum in sums]
        combinations(newOp, lengths)
        pass
    return dist


def combinations(callback, lengths):
    n = len(lengths)
    current = [0] * n
    hasNext = True
    while hasNext:
        callback(current)
        hasNext = False
        for i in range(n):
            if current[i] < lengths[i]-1:
                current[i] += 1
                hasNext = True
                break
            else:
                current[i] = 0
                pass
            pass
        pass
    pass


r = Laplacian('x')
}}

<div class="indented"> {{=r.display()}} </div>
<p></p>
<div class="indented"> {{=distribute(r).display()}} </div>




