{{# Determines how elements are styled on the page.  The elements themselves are created in knowledge.html }}

        html {
            height: 100%;
        }
        body {
            min-height: 100%;
            margin: 20px;
        }

        .clear {
            clear: both;
        }

        #global-controls {
            width: 100%;
        }

        #concept-wrapper {
            width: 100%;
            height: 620px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        #concept-explorer-template {
            display: none;
        }

        .concept-explorer {
            height: 100%;
            flex-grow: 1;
            position: relative;
        }

        .concept-mode {
            width: 100%;
            height: 100%;
        }

        .palette-wrapper {
            background-color: whitesmoke;
            border: 1px solid black;
            display: flex;
            flex-direction: column;
        }

        .concept-palette {
            flex-grow: 1;
        }

        .graph-wrapper {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }

        .concept-graph {
            flex-grow: 1;
            display: block;
            border: 1px solid black;
        }

        .explorer-controls {
            display: block;
            margin-bottom: 10px;
        }
        .controls-left {
            float: left;
        }
        .controls-right {
            float: right;
        }

        .explorer-close-button {
            background-color: #b22;
        }
        .explorer-new {
            position: absolute;
            z-index: 10;
            top: 50%;
        }
        .explorer-new-left {
            left: 0%;
        }
        .explorer-new-right {
            right: 0%;
        }

        .explorer-edit-concept {
            display: none;
            width: 100%;
            max-width: 600px;
            position: absolute;
        }
        .explorer-edit-instance-of {
            min-height: 100px;
        }

        .node-info {
            background-color: #8ff;
            color: #604;
            font-weight: bold;
            padding: 0 20px;
        }


        {{# Where the symbolic representation of the relation is displayed }}

        #symbolization {
        }
        #symbolization-controls {
            margin: 20px 0;
        }
        #symbolization-wrapper {
            width: 100%;
            text-align: center;
        }

        {{# And the visual representation }}

        #visualization {
        }
        #visualization-controls {
            margin: 20px 0;
        }
        #visualization-canvas {
            border: 3px solid green;
        }

        {{# Where suggestions for laws to apply are listed }}

        #suggestion-wrapper {
            display: table;
            width: 100%;
        }
        .suggestion {
            display: table-row;
        }
        .suggestion-name {
            font-size: 28px;
            font-weight: bold;
            float: left;
        }
        .suggestion-symbol {
            margin-left: 5%;
            font-size: 18px;
            color: #606;
        }
        .suggestion-accept {
            color: white;
            background-color: #080;
            margin-left: 5%;
        }

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #ccc;
            margin: 1em 0;
            padding: 0;
        }
