#wrapper {
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 100px;
}

#contact-info {
    text-align: center;
    font-size: 22px;
    font-style: italic;
    margin: 30px 0;
}

.section-nav {
    display: flex;
    justify-content: space-between;
    width: auto;
    font-size: 25px;
    margin: 20px 30px;
}
.nav-item {
    flex-grow: 1;
    flex-basis: 0;
}
.nav-prev {
    text-align: left;
}
.nav-toc {
    text-align: center;
}
.nav-next {
    text-align: right;
}

#bottom-nav {
    margin-bottom: 80px;
}

#left-nav {
    float: left;
    width: 20%;
    font-size: 18px;
    display: none;
}

#content-wrapper {
    display: block;
    font-size: 22px;
    padding: 20px 50px;
}

.toc-normal {
}

.toc-highlight {
    background-color: #ffa;
}

.toc-ignore {
    color: #600;
    text-decoration: line-through;
}

.dedication {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 34px;
    color: #080;
    margin: 80px 0;
}

.section-title {
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 25px 0;
}

.subsection {
    font-style: italic;
    display: block;
    margin: 50px 0 25px 0;
}

.figure {
    margin: 30px 0;
    text-align: center;
}

.figure-caption {
    font-style: italic;
    margin: 15px 15% 0 15%;
}

.italic {
    font-style: italic;
}

.side-note {
    font-weight: bold;
    display: block;
    margin: 20px 0;
}

.quotation {
    padding: 20px 50px;
    font-style: italic;
    line-height: 150%;
}

.contact-form {
    margin: 50px 15%;
    font-size: 18px;
}
.contact-form .form-title {
    width: 100%;
    font-size: 24px;
    text-align: center;
}
.contact-form .form-group {
    width: 100%;
    margin: 15px 0;
}
.contact-form label, .contact-form input, .contact-form textarea {
    display: block;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}
.contact-form .send-button {
    margin-top: 40px;
    background-color: #066;
    font-size: 18px;
}

