<html>
    <head>
        <link rel="stylesheet" href="{{=URL('static','spacetime/css/main.css')}}"/>

        <script>
            window.MathJax = {
                tex2jax: {
                    inlineMath: [["\\(","\\)"]]
                },
                chtml: {
                    displayAlign: "left"
                }
            };
        </script>

        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    </head>
    <body>
        <div id="wrapper">

            {{ include 'header.html' }}

            {{
            def sectionTitle(filename):
                return getSectionTitle(filename, sections['sections'])

            def getSectionTitle(filename, group):
                for section in group:
                    if section['file'] == filename:
                        return cleanSectionTitle(section['title'])
                    title = getSectionTitle(filename, section['sections'])
                    if title is not None:
                        return cleanSectionTitle(title)
                    pass
                return None

            def cleanSectionTitle(title):
                if title[-2:] == '!!' or title[-2:] == '??':
                    title = title[:-2]
                    pass
                return title
            }}

            {{ def sectionNav():
                if section == 'brief':
                    return
                }}
                <div class="nav-prev nav-item">
                {{ if prevSection:
                    title = cleanSectionTitle(prevSection['title'])
                }}
                    <a href="{{ =URL('spacetime', 'index', vars={'section': prevSection['file'], 'language': language})}}"><< {{=title}}</a>
                {{ pass }}
                </div>
                <div class="nav-toc nav-item">
                {{ if section != 'toc': }}
                    <a href="{{ =URL('spacetime', 'index', vars={'section': 'toc', 'language': language})}}"> {{= tableOfContentsTitle }}</a>
                {{ pass }}
                </div>
                <div class="nav-next nav-item">
                {{ if nextSection:
                    title = cleanSectionTitle(nextSection['title'])
                }}
                    <a href="{{ =URL('spacetime', 'index', vars={'section': nextSection['file'], 'language': language})}}">{{= title}} >></a>
                {{ pass }}
                </div>
            {{ return }}

            <div id="top-nav" class="section-nav">
                {{ sectionNav() }}
            </div>

            <div id="content-wrapper">

                {{def cite(refName, paren=False):}}<span class="citation">{{if paren:}}({{pass}}<a href="{{=references[refName]['URL']}}">{{=references[refName]['inline']}}</a>{{if paren:}}){{pass}}</span>{{return}}
                {{def section(filename):}}<span class="citation"><a href="{{=URL('spacetime','index',vars={'section':filename,'language':language})}}">{{=sectionTitle(filename)}}</a></span>{{return}}

                {{ include sectionFile }}
            </div>

            <div id="bottom-nav" class="section-nav">
                {{ sectionNav() }}
            </div>

            {{ include 'header.html' }}

        </div>

    </body>
</html>